<% if (!lp) { %>
</div>
</div>
</div>
</div>
<% } %>
<footer class="footer">
    <% if (!lp) { %>
    <div class="footer__subscription">
        <div class="container">
            <div class="subscription__form">
                <form class="" action="">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <div class="form-group"><label for="subscription_2">Подпишитесь на рассылку и будьте в
                                курсе!</label></div>
                        </div>
                        <div class="col-sm-8 col-lg-4">
                            <div class="form-group mb-sm-0">
                                <input type="text" id="subscription_2" class="form-control"
                                       placeholder="Введите ваш e-mail">
                            </div>
                        </div>
                        <div class="col-sm-4 col-lg-3">
                            <button type="submit" class="btn btn-white btn-block">подписаться</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <% } %>
    <div class="footer__body">
        <nav class="navbar navbar-bottom">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="img/logo-bottom.png" alt=""></a>

                <div class="d-none d-md-block" id="">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">About us</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Partners</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Whitepaper</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="footer__content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-10 col-lg-7 col-xl-6 mx-auto footer__content__links">
                        <div class="footer__content__link">
                            <a href="#"><span class="icon"><i class="icon-message-closed-envelope"></i></span><span
                                    class="text">info@invtech.com</span></a>
                        </div>
                        <div class="footer__content__link">
                            <a href="#"><span class="icon"><i class="icon-download"></i></span><span class="text">Whitepaper [EN]</span></a>
                        </div>
                        <div class="footer__content__link">
                            <a href="#"><span class="icon"><i class="icon-download"></i></span><span class="text">Onepager [EN]</span></a>
                        </div>
                    </div>
                    <div class="col-6 col-md-10 col-lg-5 col-xl-6 m-auto">
                        <div class="footer__social">
                            <div class="footer__social__item"><a href="#"><i class="icon-facebook-logo"
                                                                             aria-hidden="true"></i></a></div>
                            <div class="footer__social__item"><a href="#"><i class="icon-line-logo"
                                                                             aria-hidden="true"></i></a>
                            </div>
                            <div class="footer__social__item"><a href="#"><i class="icon-wechat" aria-hidden="true"></i></a>
                            </div>
                            <div class="footer__social__item"><a href="#"><i class="icon-instagram-logo"
                                                                             aria-hidden="true"></i></a>
                            </div>
                            <div class="footer__social__item"><a href="#"><i class="icon-linkedin-logo"
                                                                             aria-hidden="true"></i></a></div>
                            <div class="footer__social__item"><a href="#"><i class="icon-youtube"
                                                                             aria-hidden="true"></i></a>
                            </div>
                            <div class="footer__social__item"><a href="#"><i class="icon-telegram"
                                                                             aria-hidden="true"></i></a>
                            </div>
                            <div class="footer__social__item"><a href="#"><i class="icon-google-plus"
                                                                             aria-hidden="true"></i></a>
                            </div>
                            <div class="footer__social__item"><a href="#"><i class="icon-twitter-logo-silhouette"
                                                                             aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer__copyright">2018 © Investment Technologies. All right reserved</div>
                    </div>
                    <div class="col-md-6 d-md-flex justify-content-md-end">
                        <div class="footer__bottom__link"><a href="#">Confidentiality Policy</a></div>
                        <div class="footer__bottom__link"><a href="#">User Agreement</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Войти в личный кабинет</h3>
                <button type="button" class="close close-btn" data-dismiss="modal"><i class="icon-close-button"></i>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Введите логин">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Введите пароль">
                    </div>
                    <div class="form-group">
                        <a href="#">Забыли пароль?</a>
                    </div>
                    <button class="btn btn-primary">Войти на сайт</button>
                </form>
            </div>
            <div class="modal-footer">
                Нет аккаунта? <a href="#">Зарегистрироваться</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Оплатить</h3>
                <button type="button" class="close close-btn" data-dismiss="modal"><i class="icon-close-button"></i>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#type-1" data-toggle="pill" role="tab">Банковская карта</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#type-2" data-toggle="pill" role="tab">Система денежных
                                переводов</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="type-1" role="tabpanel">
                            <div class="form-group">
                                <input type="radio" name="refillMethod" id="method-1"><label for="method-1">Способ
                                пополнения 1 (Банковская карта)</label>
                            </div>
                            <div class="form-group">
                                <input type="radio" name="refillMethod" id="method-2"><label for="method-2">Способ
                                пополнения 2 (Банковская карта)</label>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="type-2" role="tabpanel">
                            <div class="form-group">
                                <input type="radio" name="refillMethod" id="method-3"><label for="method-3">Способ
                                пополнения 1 (Система денежных переводов)</label>
                            </div>
                            <div class="form-group">
                                <input type="radio" name="refillMethod" id="method-4"><label for="method-4">Способ
                                пополнения 2 (Система денежных переводов)</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="total-price">К оплате: <span>1 353 у.е.</span></div>
                    </div>
                    <button class="btn btn-primary">Оплатить</button>
                </form>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>


<div class="overlay"></div>

<script src="js/bundle.js"></script>
</body>
</html>
