<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
  <link rel="manifest" href="img/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="css/style.bundle.css"/>

  <title><%=title%></title>
</head>
<body>
<div class="d-xl-none sidebar">
  <div class="logo text-center">
    <a href="#"><img src="img/logo.png"></a>
  </div>
  <div class="user">
    <div class="user__data">
      <div class="user__icon">
        <a href="#"><img src="img/userpic.png" alt="Длинное имя юзера" class="img-fluid"></a>
      </div>
      <div class="user__info">
        <div class="user__name"><a href="#">Длинное имя юзера</a></div>
        <div class="user__role">Партнер</div>
      </div>
      <div class="user__btns ml-auto">
        <a href="#"><i class="icon-settings"></i></a>
        <a href="#"><i class="icon-logout"></i></a>
      </div>
    </div>
  </div>
  <div>

    <ul class="list-unstyled navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link collapsed" href="#submenu-1" role="button"
           data-toggle="collapse" aria-haspopup="true" aria-expanded="false">
          About us
          <i class="icon icon-keyboard-right-arrow-button"></i>
        </a>
        <div class="collapse" id="submenu-1">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Partners</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link collapsed" href="#submenu-2" role="button"
           data-toggle="collapse" aria-haspopup="true" aria-expanded="false">
          Gallery
          <i class="icon icon-keyboard-right-arrow-button"></i>
        </a>
        <div class="collapse" id="submenu-2">
          <a class="dropdown-item" href="#">CURRENTLY FOR SALE</a>
          <a class="dropdown-item" href="#">SOLD</a>
          <a class="dropdown-item" href="#">UPCOMING SALES</a>
          <a class="dropdown-item" href="#">ABOUT THE ARTISTS</a>
          <a class="dropdown-item" href="#">VIRTUAL GALLERY</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Whitepaper</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="#">Врачи</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Контакты</a>
      </li>
    </ul>


  </div>

</div>

<nav class="navbar navbar-top navbar-expand-lg <% if (lp) { %> navbar-top-lp <% } %>">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="img/logo.png" alt="" class="img-fluid"></a>

    <div class="d-flex" id="">
      <ul class="navbar-nav ml-auto d-none d-lg-flex">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About us
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Partners</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Gallery
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">CURRENTLY FOR SALE</a>
            <a class="dropdown-item" href="#">SOLD</a>
            <a class="dropdown-item" href="#">UPCOMING SALES</a>
            <a class="dropdown-item" href="#">ABOUT THE ARTISTS</a>
            <a class="dropdown-item" href="#">VIRTUAL GALLERY</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Whitepaper</a>
        </li>
      </ul>
      <div class="d-flex">
        <% if (auth && !lp) { %>
        <div class="user-nav dropdown  d-none d-md-flex">
          <a class="btn btn-sm btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-user"></i> <span class="d-none d-sm-inline d-lg-none d-xl-inline">Личный кабинет</span>
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Кабинет</a>
            <a class="dropdown-item" href="#">Настройки</a>
            <a class="dropdown-item" href="#">Выход</a>
          </div>
        </div>
        <% } else { %>
        <a href="#" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#loginModal" role="button">Log in</a>
        <% } %>

        <select class="select-language" data-style="btn-sm btn-outline-secondary">
          <option data-icon='icon-china icon-china-dims'>CH</option>
          <option data-icon='icon-thailand icon-thailand-dims'>TH</option>
          <option data-icon='icon-vietnam icon-vietnam-dims'>VI</option>
          <option data-icon='icon-philippines icon-philippines-dims'>FL</option>
          <option data-icon='icon-malaysia icon-malaysia-dims'>MS</option>
          <option data-icon='icon-indonesia icon-indonesia-dims'>IN</option>
          <option data-icon='icon-india icon-india-dims'>HI</option>
          <option data-icon='icon-russia icon-russia-dims'>RU</option>
          <option data-icon='icon-united-states icon-united-states-dims'>EN</option>
        </select>
        <button type="button" id="sidebarCollapse" class="btn btn-sm btn-outline-secondary btn-nav d-lg-none">
          <div class="btn-nav__wrap">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </button>
      </div>
    </div>
  </div>
</nav>

<% if (auth && !lp) { %>
<div class="user-box">
  <div class="container">
    <div class="row user">
      <div class="col-xl-4 mb-3">
        <div class="d-flex align-items-center">
          <div class="user__icon">
            <img src="img/userpic.png" alt="Длинное имя юзера" class="img-fluid">
          </div>
          <div class="user__info">
            <div class="user__info__name">Длинное имя юзера</div>
            <div class="user__info__role">Партнер</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3 col-xl-2 mb-3">
        <div class="user__data">
          <div class="user__data__label">Кол-во токенов</div>
          <div class="user__data__value">2 415</div>
        </div>
      </div>
      <div class="col-6 col-md-3 col-xl-2 mb-3">
        <div class="user__data">
          <div class="user__data__label">Кошелек</div>
          <div class="user__data__value">2 356 <sapn>у.е.</sapn></div>
        </div>
      </div>
      <div class="col-6 col-md-3 col-xl-2">
        <div class="user__data">
          <div class="user__data__label">1 ступень</div>
          <div class="user__data__value">43.<span>2432%</span></div>
        </div>
      </div>
      <div class="col-6 col-md-3 col-xl-2">
        <div class="user__data">
          <div class="user__data__label">Заработано</div>
          <div class="user__data__value">32 <sapn>у.е.</sapn></div>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>
<% if (!lp) { %>
<div class="content-wrap">
  <div class="container">
    <div class="row">
      <% if (auth) { %>
      <div class="col-md-4 col-xl-3 d-none d-md-block">
        <div class="left-menu">
          <ul class="list-unstyled">
            <li><a href="#"><i class="icon-user" aria-hidden="true"></i>Личный кабинет</a></li>
            <li><a href="#"><i class="icon-wallet-3" aria-hidden="true"></i>Кошелек</a></li>
            <li><a href="#"><i class="icon-painting-2" aria-hidden="true"></i>Полотна</a></li>
            <li><a href="#"><i class="icon-diagram" aria-hidden="true"></i>Партнерская программа</a></li>
            <li><a href="#"><i class="icon-company" aria-hidden="true"></i>О компании</a></li>
            <li><a href="#"><i class="icon-question" aria-hidden="true"></i>Вопрос - ответ</a></li>
            <li><a href="#"><i class="icon-list" aria-hidden="true"></i>История покупок</a></li>
            <li><a href="#"><i class="icon-purse" aria-hidden="true"></i>Новости проекта</a></li>
          </ul>
        </div>
        <div class="ref-link">
          <div class="label">Партнерская ссылка:</div>
          <div class="link"><a href="#">invest-tech.com/wer24d</a></div>
        </div>
      </div>
      <% } %>
      <div class="<% if (auth) { %>col-md-8 col-xl-9<% } else { %>col-xl-12<% } %>">

<% } %>