<% var data = {
auth: true,
lp: false,
title: "",
author: ""
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<h1>Корзина</h1>

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#cart">Корзина</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#purchase_history">История покупок</a>
    </li>
</ul>

<div class="tab-content">
    <div id="cart" class="tab-pane fade show active" role="tabpanel">
        <table class="table table-responsive cart">
            <tbody>
            <tr class="cart__item">
                <td class="cart__item__img"><a href="#"><img src="uploads/cart-img.jpg" alt="Кусочек 327-161"></a></td>
                <td class="cart__item__info">
                    <div class="title"><a href="#">Кусочек 327-161</a><span class="stock in-stock">В наличии</span></div>
                    <div class="info">
                        <div class="row">
                            <div class="col-lg-6">
                                <span class="label">Название:</span> Ковчег
                            </div>
                            <div class="col-lg-6">
                                <span class="label">Автор:</span> Иванов Иван Иванович
                            </div>
                            <div class="col-lg-6">
                                <span class="label">Всего фрагментов:</span> 86400
                            </div>
                            <div class="col-lg-6">
                                <span class="label">Доступны к покупке:</span> 31721
                            </div>
                        </div>
                    </div>
                </td>
                <td class="cart__item__price">60 у.е.</td>
                <td class="cart__item__remove"><a href="#"><i class="icon-close-button"></i></a></td>
            </tr>
            <tr class="cart__item out-of-stock">
                <td class="cart__item__img"><a href="#"><img src="uploads/cart-img-2.jpg" alt="Кусочек 327-161"></a></td>
                <td class="cart__item__info">
                    <div class="title"><a href="#">Кусочек 327-161</a><span class="stock out-of-stock">Недоступен</span></div>
                    <div class="info">
                        <div class="row">
                            <div class="col-lg-6">
                                <span class="label">Название:</span> Ковчег
                            </div>
                            <div class="col-lg-6">
                                <span class="label">Автор:</span> Иванов Иван Иванович
                            </div>
                            <div class="col-lg-6">
                                <span class="label">Всего фрагментов:</span> 86400
                            </div>
                            <div class="col-lg-6">
                                <span class="label">Доступны к покупке:</span> 31721
                            </div>
                        </div>
                    </div>
                </td>
                <td class="cart__item__price">0 у.е.</td>
                <td class="cart__item__remove"><a href="#"><i class="icon-close-button"></i></a></td>
            </tr>
            <tr class="cart__item">
                <td class="cart__item__img"><a href="#"><img src="uploads/cart-img-3.jpg" alt="Кусочек 327-161"></a></td>
                <td class="cart__item__info">
                    <div class="title"><a href="#">Кусочек 327-161</a><span class="stock in-stock">В наличии</span></div>
                    <div class="info">
                        <div class="row">
                            <div class="col-lg-6">
                                <span class="label">Название:</span> Ковчег
                            </div>
                            <div class="col-lg-6">
                                <span class="label">Автор:</span> Иванов Иван Иванович
                            </div>
                            <div class="col-lg-6">
                                <span class="label">Всего фрагментов:</span> 86400
                            </div>
                            <div class="col-lg-6">
                                <span class="label">Доступны к покупке:</span> 31721
                            </div>
                        </div>
                    </div>
                </td>
                <td class="cart__item__price">60 у.е.</td>
                <td class="cart__item__remove"><a href="#"><i class="icon-close-button"></i></a></td>
            </tr>
            </tbody>
        </table>

        <div class="row cart__total">
            <div class="col-sm-6 col-xl-4 mb-4"><span class="label">В корзине:</span> 4 фрагмента</div>
            <div class="col-sm-6 col-xl-4 mb-4"><span class="label">На сумму:</span> 1 353 у.е.</div>
            <div class="col-xl-3 offset-xl-1 text-sm-right">
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#payModal" role="button">Купить все</a>
            </div>
        </div>
    </div>
    <div id="purchase_history" class="tab-pane fade" role="tabpanel">
        <table class="table table-responsive cart">
                <tbody>
                <tr class="cart__item">
                    <td class="cart__item__img"><a href="#"><img src="uploads/cart-img.jpg" alt="Кусочек 327-161"></a></td>
                    <td class="cart__item__info">
                        <div class="title"><a href="#">Кусочек 327-161</a></div>
                        <div class="info">
                            <div class="row">
                                <div class="col-lg-6">
                                    <span class="label">Название:</span> Ковчег
                                </div>
                                <div class="col-lg-6">
                                    <span class="label">Автор:</span> Иванов Иван Иванович
                                </div>
                                <div class="col-lg-6">
                                    <span class="label">Всего фрагментов:</span> 86400
                                </div>
                                <div class="col-lg-6">
                                    <span class="label">Доступны к покупке:</span> 31721
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="cart__item__price">60 у.е.</td>
                    <td class="cart__item__remove"></td>
                </tr>
                <tr class="cart__item">
                    <td class="cart__item__img"><a href="#"><img src="uploads/cart-img-3.jpg" alt="Кусочек 327-161"></a></td>
                    <td class="cart__item__info">
                        <div class="title"><a href="#">Кусочек 327-161</a></div>
                        <div class="info">
                            <div class="row">
                                <div class="col-lg-6">
                                    <span class="label">Название:</span> Ковчег
                                </div>
                                <div class="col-lg-6">
                                    <span class="label">Автор:</span> Иванов Иван Иванович
                                </div>
                                <div class="col-lg-6">
                                    <span class="label">Всего фрагментов:</span> 86400
                                </div>
                                <div class="col-lg-6">
                                    <span class="label">Доступны к покупке:</span> 31721
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="cart__item__price">60 у.е.</td>
                    <td class="cart__item__remove"></td>
                </tr>
                </tbody>
            </table>

        <div class="row cart__total">
            <div class="col-sm-6 col-xl-4"><span class="label">Всего куплено:</span> 2 фрагмента</div>
            <div class="col-sm-6 col-xl-4"><span class="label">На сумму:</span> 1 353 у.е.</div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>