<% var data = {
auth: true,
lp: false,
title: "",
author: ""
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<h1>Галерея</h1>

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#in-stock">В продаже</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#out-of-stock">Проданные</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#upcoming">Скоро</a>
    </li>
</ul>

<div class="tab-content">
    <div id="in-stock" class="tab-pane fade show active" role="tabpanel">
        <div class="row products">
            <div class="col-sm-6 products__item">
                <div class="products__item__img">
                    <img src="uploads/collection-img-1.jpg" alt="" class="img-fluid">
                </div>
                <div class="products__item__info">
                    <div class="title">Название картины</div>
                    <div class="author">Автор: Иван Иванов</div>
                </div>
                <div class="products__item__info__btn">
                    <a href="#" class="btn btn-buy btn-primary"><i class="icon-shopping-cart"></i><span>Купить</span></a>
                </div>
            </div>
            <div class="col-sm-6 products__item">
                <div class="products__item__img">
                    <img src="uploads/collection-img-2.jpg" alt="" class="img-fluid">
                </div>
                <div class="products__item__info">
                        <div class="title">Название картины</div>
                        <div class="author">Автор: Иван Иванов</div>
                </div>
                <div class="products__item__info__btn">
                    <a href="#" class="btn btn-buy btn-primary"><i class="icon-shopping-cart"></i><span>Купить</span></a>
                </div>
            </div>
            <div class="col-sm-6 products__item">
                <div class="products__item__img">
                    <img src="uploads/collection-img-2.jpg" alt="" class="img-fluid">
                </div>
                <div class="products__item__info">
                    <div class="title">Название картины</div>
                    <div class="author">Автор: Иван Иванов</div>
                </div>
                <div class="products__item__info__btn">
                    <a href="#" class="btn btn-buy btn-primary"><i class="icon-shopping-cart"></i><span>Купить</span></a>
                </div>
            </div>
            <div class="col-sm-6 products__item">
                <div class="products__item__img">
                    <img src="uploads/collection-img-1.jpg" alt="" class="img-fluid">
                </div>
                <div class="products__item__info">
                    <div class="title">Название картины</div>
                    <div class="author">Автор: Иван Иванов</div>
                </div>
                <div class="products__item__info__btn">
                    <a href="#" class="btn btn-buy btn-primary"><i class="icon-shopping-cart"></i><span>Купить</span></a>
                </div>
            </div>
        </div>
    </div>
    <div id="out-of-stock" class="tab-pane fade" role="tabpanel">
        <div class="row products">
            <div class="col-sm-6 products__item">
                <div class="products__item__img">
                    <img src="uploads/collection-img-1.jpg" alt="" class="img-fluid">
                </div>
                <div class="products__item__info">
                    <div class="title">Название картины</div>
                    <div class="author">Автор: Иван Иванов</div>
                </div>
                <div class="products__item__info__btn">
                    <a href="#" class="btn btn-buy btn-primary"><i class="icon-shopping-cart"></i><span>Купить</span></a>
                </div>
            </div>
            <div class="col-sm-6 products__item">
                <div class="products__item__img">
                    <img src="uploads/collection-img-2.jpg" alt="" class="img-fluid">
                </div>
                <div class="products__item__info">
                    <div class="title">Название картины</div>
                    <div class="author">Автор: Иван Иванов</div>
                </div>
                <div class="products__item__info__btn">
                    <a href="#" class="btn btn-buy btn-primary"><i class="icon-shopping-cart"></i><span>Купить</span></a>
                </div>
            </div>
            <div class="col-sm-6 products__item">
                <div class="products__item__img">
                    <img src="uploads/collection-img-2.jpg" alt="" class="img-fluid">
                </div>
                <div class="products__item__info">
                    <div class="title">Название картины</div>
                    <div class="author">Автор: Иван Иванов</div>
                </div>
                <div class="products__item__info__btn">
                    <a href="#" class="btn btn-buy btn-primary"><i class="icon-shopping-cart"></i><span>Купить</span></a>
                </div>
            </div>
            <div class="col-sm-6 products__item">
                <div class="products__item__img">
                    <img src="uploads/collection-img-1.jpg" alt="" class="img-fluid">
                </div>
                <div class="products__item__info">
                    <div class="title">Название картины</div>
                    <div class="author">Автор: Иван Иванов</div>
                </div>
                <div class="products__item__info__btn">
                    <a href="#" class="btn btn-buy btn-primary"><i class="icon-shopping-cart"></i><span>Купить</span></a>
                </div>
            </div>
        </div>
    </div>
    <div id="upcoming" class="tab-pane fade" role="tabpanel">
        <div class="row products">
            <div class="col-sm-6 products__item">
                <div class="products__item__img">
                    <img src="uploads/collection-img-1.jpg" alt="" class="img-fluid">
                </div>
                <div class="products__item__info">
                    <div class="title">Название картины</div>
                    <div class="author">Автор: Иван Иванов</div>
                </div>
                <div class="products__item__info__btn">
                    <a href="#" class="btn btn-buy btn-primary"><i class="icon-shopping-cart"></i><span>Купить</span></a>
                </div>
            </div>
            <div class="col-sm-6 products__item">
                <div class="products__item__img">
                    <img src="uploads/collection-img-2.jpg" alt="" class="img-fluid">
                </div>
                <div class="products__item__info">
                    <div class="title">Название картины</div>
                    <div class="author">Автор: Иван Иванов</div>
                </div>
                <div class="products__item__info__btn">
                    <a href="#" class="btn btn-buy btn-primary"><i class="icon-shopping-cart"></i><span>Купить</span></a>
                </div>
            </div>
            <div class="col-sm-6 products__item">
                <div class="products__item__img">
                    <img src="uploads/collection-img-2.jpg" alt="" class="img-fluid">
                </div>
                <div class="products__item__info">
                    <div class="title">Название картины</div>
                    <div class="author">Автор: Иван Иванов</div>
                </div>
                <div class="products__item__info__btn">
                    <a href="#" class="btn btn-buy btn-primary"><i class="icon-shopping-cart"></i><span>Купить</span></a>
                </div>
            </div>
            <div class="col-sm-6 products__item">
                <div class="products__item__img">
                    <img src="uploads/collection-img-1.jpg" alt="" class="img-fluid">
                </div>
                <div class="products__item__info">
                    <div class="title">Название картины</div>
                    <div class="author">Автор: Иван Иванов</div>
                </div>
                <div class="products__item__info__btn">
                    <a href="#" class="btn btn-buy btn-primary"><i class="icon-shopping-cart"></i><span>Купить</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>