<% var data = {
auth: true,
lp: false,
title: "",
author: ""
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<h1>Заголовок 1 уровня</h1>

<p class="lead">Вступительный текст на странице. Отличается от остальных абзацев более крупным размером. Его задача заинтересовать
    читателя. Если вступительный текст понравится — с большой вероятностью человек станет читать дальше. Он не должен
    быть слишком большим, иначе есть риск, что его не станут читать целиком.</p>

<p>Это обычный абзац. Их таких будет тут много, чтобы разбавлять заголовки и прочие элементы, которые обычно не идут
    друг за другом, а сочетаются с абзацами текста. Алиса сидела со старшей сестрой на берегу и маялась: делать ей было
    совершенно нечего, а сидеть без дела, сами знаете, дело нелегкое; раз-другой она, правда, сунула нос в книгу,
    которую сестра читала, но там не оказалось ни картинок, ни стишков. <a href="#">Ссылка в тексте</a>.
    <a href="#">Ховер ссылки в тексте</a>. <b>Жирный текст в тексте</b>.</p>

<h2>Заголовок 2 уровня</h2>

<p>Это обычный абзац. Их таких будет тут много, чтобы разбавлять заголовки и прочие элементы, которые обычно не идут
    друг за другом, а сочетаются с абзацами текста. Алиса сидела со старшей сестрой на берегу и маялась: делать ей было
    совершенно нечего, а сидеть без дела, сами знаете, дело нелегкое; раз-другой она, правда, сунула нос в книгу,
    которую сестра читала, но там не оказалось ни картинок, ни стишков. «Кому нужны книжки без картинок, — или хоть
    стишков, не понимаю!» — думала Алиса.</p>

<h3>Заголовок третьего уровня</h3>

<p>Это обычный абзац. Их таких будет тут много, чтобы разбавлять заголовки и прочие элементы, которые обычно не идут
    друг за другом, а сочетаются с абзацами текста. Алиса сидела со старшей сестрой на берегу и маялась: делать ей было
    совершенно нечего, а сидеть без дела, сами знаете, дело нелегкое; раз-другой она, правда, сунула нос в книгу,
    которую сестра читала, но там не оказалось ни картинок, ни стишков. «Кому нужны книжки без картинок, — или хоть
    стишков, не понимаю!» — думала Алиса.</p>

<h4>Заголовок 4-го уровня</h4>

<p>Это обычный абзац. Их таких будет тут много, чтобы разбавлять заголовки и прочие элементы, которые обычно не идут
    друг за другом, а сочетаются с абзацами текста. Алиса сидела со старшей сестрой на берегу и маялась: делать ей было
    совершенно нечего, а сидеть без дела, сами знаете, дело нелегкое; раз-другой она, правда, сунула нос в книгу,
    которую сестра читала, но там не оказалось ни картинок, ни стишков. «Кому нужны книжки без картинок, — или хоть
    стишков, не понимаю!» — думала Алиса.</p>

<h5>Заголовок 5-го уровня, можно использовать для заглавия списков</h5>

<p>Это обычный абзац. Их таких будет тут много, чтобы разбавлять заголовки и прочие элементы, которые обычно не идут
    друг за другом, а сочетаются с абзацами текста. Алиса сидела со старшей сестрой на берегу и маялась: делать ей было
    совершенно нечего, а сидеть без дела, сами знаете, дело нелегкое; раз-другой она, правда, сунула нос в книгу,
    которую сестра читала, но там не оказалось ни картинок, ни стишков. «Кому нужны книжки без картинок, — или хоть
    стишков, не понимаю!» — думала Алиса.</p>

<ul>
    <li>Это пример небольшого ненумерованного списка</li>
    <li>Из нескольких пунктов</li>
    <li>Разной длины</li>
    <li>Иногда пункты бывают очень длинными. Расстояние между соседними пунктами должно быть больше, чем расстояние между строчками одного длинного пункта. Это правило визуальной иерархии, применимое ко всему оформлению контента вообще.</li>
    <li>Вот и список закончился</li>
</ul>

<p>Это обычный абзац. Их таких будет тут много, чтобы разбавлять заголовки и прочие элементы, которые обычно не идут
    друг за другом, а сочетаются с абзацами текста. <br> Алиса сидела со старшей сестрой на берегу и маялась: делать ей было
    совершенно нечего, а сидеть без дела, сами знаете, дело нелегкое; раз-другой она, правда, сунула нос в книгу,
    которую сестра читала, но там не оказалось ни картинок, ни стишков. «Кому нужны книжки без картинок, — или хоть
    стишков, не понимаю!» — думала Алиса.</p>

<ol>
    <li>Это пример небольшого нумерованного списка</li>
    <li>Из нескольких пунктов</li>
    <li>Разной длины</li>
    <li>Иногда пункты бывают очень длинными. Расстояние между соседними пунктами должно быть больше, чем расстояние
        между строчками одного длинного пункта. Это правило визуальной иерархии, применимое ко всему оформлению контента
        вообще.
    </li>
    <li>Вот и список закончился</li>
</ol>

<!--<img src="uploads/content-img.jpg" alt="" class="float-right">-->
<img class="d-none d-sm-inline" src="uploads/content-img.jpg" align="right" style="max-width: 290px; margin-left: 20px; margin-bottom: 10px;" alt="">
<p>
    Это обычный абзац. Их таких будет тут много, чтобы разбавлять заголовки и прочие элементы, которые обычно не идут
    друг за другом, а сочетаются с абзацами текста.<br>
    Алиса сидела со старшей сестрой на берегу и маялась: делать ей было совершенно нечего, а сидеть без дела, сами знаете, дело нелегкое; раз-другой она, правда, сунула нос в книгу, которую сестра читала, но там не оказалось ни картинок, ни стишков. «Кому нужны книжки без картинок, — или хоть стишков, не понимаю!» — думала Алисагу, которую сестра читала, но там не оказалось ни картинок, ни стишков. «Кому нужны книжки без картинок, — или хоть стишков, не понимаю!» — думала Алиса.<br>
    Это обычный абзац. Их таких будет тут много, чтобы разбавлять заголовки и прочие элементы, которые обычно не идут друг за другом, а сочетаются с абзацами текста.  то обычный абзац. Их таких будет тут много, чтобы разбавлять заголовки и прочие элементы, которые обычно не идут друг за другом, а сочетаются с абзацами текста.
</p>

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">Сектора</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1">Структура</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu2">Доход</a>
    </li>
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade show active" role="tabpanel">
        <h3>Сектора</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="menu1" class="tab-pane fade" role="tabpanel">
        <h3>Структура1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor nemo placeat qui repellat rerum suscipit, vel. Ab accusamus delectus iusto obcaecati vitae. Error laudantium magni, nisi reprehenderit sit tempore veniam!</p>
    </div>
    <div id="menu2" class="tab-pane fade" role="tabpanel">
        <h3>Доход</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cupiditate distinctio excepturi, illo molestias officiis rerum voluptatem? Aliquid dignissimos excepturi optio recusandae. Ab assumenda, exercitationem fugit porro rem sed soluta.</p>
    </div>
</div>

<ul class="nav nav-pills" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" href="#type-1" data-toggle="pill" role="tab">Банковская карта</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#type-2" data-toggle="pill" role="tab">Система денежных переводов</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#type-3" data-toggle="pill" role="tab">Счет организации или ИП</a>
    </li>
</ul>
<div class="tab-content">
    <div id="type-1" class="tab-pane fade show active" role="tabpanel">
        <h3>Банковская карта</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="type-2" class="tab-pane fade" role="tabpanel">
        <h3>Система денежных переводов</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor nemo placeat qui repellat rerum suscipit, vel. Ab accusamus delectus iusto obcaecati vitae. Error laudantium magni, nisi reprehenderit sit tempore veniam!</p>
    </div>
    <div id="type-3" class="tab-pane fade" role="tabpanel">
        <h3>Счет организации или ИП</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cupiditate distinctio excepturi, illo molestias officiis rerum voluptatem? Aliquid dignissimos excepturi optio recusandae. Ab assumenda, exercitationem fugit porro rem sed soluta.</p>
    </div>
</div>

<table class="table table-responsive">
    <thead class="thead-light">
    <tr>
        <th scope="col">Имя пользователя</th>
        <th scope="col">E-mail</th>
        <th scope="col">Дата регистрации</th>
        <th scope="col">Структура</th>
        <th scope="col">Всего</th>
        <th scope="col">Товарооборот</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Name company</td>
        <td>info@maillongmail.com</td>
        <td>23.12.2017</td>
        <td>01 фаза</td>
        <td>12</td>
        <td>1 234 у.е.</td>
    </tr>
    <tr>
        <td>Name company</td>
        <td>info@maillongmail.com</td>
        <td>23.12.2017</td>
        <td>01 фаза</td>
        <td>12</td>
        <td>1 234 у.е.</td>
    </tr>
    <tr>
        <td>Name company</td>
        <td>info@maillongmail.com</td>
        <td>23.12.2017</td>
        <td>01 фаза</td>
        <td>12</td>
        <td>1 234 у.е.</td>
    </tr>
    </tbody>
</table>

<button type="button" class="btn btn-primary mb-3">Обычная кнопка</button>
<button type="button" class="btn btn-buy btn-primary mb-3"><i class="icon-shopping-cart"></i><span>Купить</span></button>

<div class="link-right-arrow mb-3"><a href="#">Все полотна<i class="icon-right-arrow-key"></i></a></div>
<div class="link-left-arrow mb-3"><a href="#"><i class="icon-left-arrow-key"></i>Назад в каталог</a></div>



<%= _.template(require('./../includes/footer.html'))(data) %>