<% var data = {
auth: true,
lp: false,
title: "",
author: ""
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<h1>Обратная связь</h1>

<form action="">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Ваше имя">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Ваш e-mail">
            </div>
        </div>
    </div>
    <div class="form-group">
        <textarea name="" class="form-control" placeholder="Текст обращения"></textarea>
    </div>
    <div class="form-group">
        <input type="checkbox" id="confirm"><label for="confirm">Согласен с <a href="#">политикой конфиденциальности</a></label>
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>

<%= _.template(require('./../includes/footer.html'))(data) %>