<% var data = {
auth: true,
lp: false,
title: "",
author: ""
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>


  <h1>Личный кабинет копия</h1>
  <p class="lead">Добро пожаловать на наш портал! На данном портале Вы сможете:</p>
  <ol>
    <li>Стать совладельцем произведения искусства.</li>
    <li>Стать участником проекта Tilcoin.</li>
    <li>Приглашать своих друзей и знакомых примкнуть к нашему проекту.</li>
    <li>Получать Бонусы и преференции от компании.</li>
    <li>Участвовать в жизни нашего проекта.</li>
    <li>Начать собирать свою собственную коллекцию.</li>
    <li>Стать инвестором в области искусства и антиквариата.</li>
  </ol>
  <h3>Видео о компании копия</h3>
  <div class="video">
    <div class="row">
      <div class="col-sm-6 video__item">
        <div class="video__wrap">
          <iframe class="video" src="http://www.youtube.com/embed/9y5WIMv4R0Y?rel=0&amp;showinfo=0&amp;autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
          <div class="video__preview">
            <img src="uploads/video-thumb.jpg" alt="О проекте" class="img-fluid">
            <a href="#" class="play-video"><i class="icon-play"></i></a>
          </div>
        </div>
        <div class="video__title">О проекте</div>
      </div>
      <div class="col-sm-6 video__item">
        <div class="video__wrap">
          <iframe class="video" src="http://www.youtube.com/embed/YA0aJXmQtvY?rel=0&amp;showinfo=0&amp;autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
          <div class="video__preview">
            <img src="uploads/video-thumb.jpg" alt="О проекте" class="img-fluid">
            <a href="#" class="play-video"><i class="icon-play"></i></a>
          </div>
        </div>
        <div class="video__title">Наша миссия</div>
      </div>
    </div>
  </div>
  <h3>Последние новости копия</h3>
  <div class="news news-last">
    <div class="row">
      <div class="col-sm-6 news__item">
        <div class="news__img"><a href="#"><img src="uploads/news-img-1.jpg"
                                                alt="IT tokens to cryptocurrency wallets – new sending procedure" class="img-fluid"></a>
        </div>
        <div class="news__date">21.11.2018</div>
        <div class="news__title"><a href="#">IT tokens to cryptocurrency wallets – new sending procedure</a></div>
      </div>
      <div class="col-sm-6 news__item">
        <div class="news__img"><a href="#"><img src="uploads/news-img-2.jpg"
                                                alt="Компания вносит некоторые изменения в получение дивидендов от Бонуса глубины" class="img-fluid"></a>
        </div>
        <div class="news__date">21.11.2018</div>
        <div class="news__title"><a href="#">Компания вносит некоторые изменения в получение дивидендов от Бонуса глубины</a></div>
      </div>
    </div>
  </div>


<%= _.template(require('./../includes/footer.html'))(data) %>