<% var data = {
auth: false,
lp: true,
title: "",
author: ""
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<section id="sct-header" class="sct sct-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-6 col-lg-6 offset-sm-4 offset-md-6 offset-lg-6">
                <h1>Investment Technologies</h1>
                <p>Глобальная платформа предметов искусства и антиквариата на технологии блокчейн</p>
                <div class="row">
                    <div class="col-6"><a href="#" class="btn btn-primary btn-block">Buy tokens</a></div>
                    <div class="col-6"><a href="#" class="btn btn-outline-secondary  btn-block">Whitepaper</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sct-statistics" class="sct sct-statistics">
    <div class="container">
        <div class="row sct__content">
            <div class="col-sm-6">
                <h3>Инвестируйте в искусство с помощью технологий</h3>
                <p>За последнее десятилетие рынок искусства вырос на 212%, а рынок современного искусства – в 14
                    раз. Еще текст обоснование, почему это выгодно, но не длиннее того, что есть на макете, иначе
                    его не прочитают.</p>
            </div>
            <div class="col-sm-6">
                <img src="uploads/illustration-1.png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="statistics">
            <div class="row">
                <div class="col-md-4 statistics__item">
                    <div class="statistics__item__value">$3,2 млрд.</div>
                    <div class="statistics__item__description">аукционные продажи антиквариата в мире в 2017 году</div>
                </div>
                <div class="col-md-4 statistics__item">
                    <div class="statistics__item__value">$754,9 млн.</div>
                    <div class="statistics__item__description">аукционные продажи антиквариата в Азии в 2017 году</div>
                </div>
                <div class="col-md-4 statistics__item">
                    <div class="statistics__item__value">$450,3 млн.</div>
                    <div class="statistics__item__description">цена продажи картины Леонардо да Винчи «Спаситель мира»</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sct-work" class="sct sct-work">
    <div class="container">
        <div class="sct__header">
            <h2>Как это работает</h2>
            <p>Криптоактив Investment Technologies – новый инструмент для частных коллекционеров</p>
        </div>
        <div class="steps">
            <div class="row">
                <div class="col-sm-6 col-lg-3 steps__item">
                    <div class="steps__item__img"><img src="uploads/icon-work-1.png"
                                                       alt="1.Поиск и покупка предмета исскуства"></div>
                    <div class="steps__item__number">01</div>
                    <div class="steps__item__title">Поиск и покупка предмета исскуства</div>
                    <div class="steps__item__description">Компания проводит оценку подлинности произведения искусства.
                        Процесс покупки произведения.
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 steps__item">
                    <div class="steps__item__img"><img src="uploads/icon-work-2.png" alt="2.Разделение на фрагменты">
                    </div>
                    <div class="steps__item__number">02</div>
                    <div class="steps__item__title">Разделение на фрагменты</div>
                    <div class="steps__item__description">Предмет искусства сканируется, его электронная копия делится
                        на фрагменты, операции с которыми заносятся в блокчейн
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 steps__item">
                    <div class="steps__item__img"><img src="uploads/icon-work-3.png" alt="3.Фиксация данных в системе">
                    </div>
                    <div class="steps__item__number">03</div>
                    <div class="steps__item__title">Фиксация данных в системе</div>
                    <div class="steps__item__description">Данные о предмете искусства фиксируется в экосистеме с
                        возможностью приобретения целиком его либо фрагментами.
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 steps__item">
                    <div class="steps__item__img"><img src="uploads/icon-work-4.png"
                                                       alt="4.Покупка и активация фрагмента"></div>
                    <div class="steps__item__number">04</div>
                    <div class="steps__item__title">Покупка и активация фрагмента</div>
                    <div class="steps__item__description">Владелец любого произведения искусства может активировать его
                        в экосистеме Investment Technologies.
                    </div>
                </div>
            </div>
        </div>
        <div class="row sct__content">
            <div class="col-sm-6"><img src="uploads/illustration-2.png" alt="" class="img-fluid"></div>
            <div class="col-sm-6">
                <h3>Смарт-контракт на базе блокчейн Ethereum</h3>
                <p>Каждая операция с фрагментами произведения искусства закрепляется смарт-контрактом на базе
                    блокчейн Ethereum. Она отражает всю цепочку операций, права собственности, стоимость и
                    подлинность произведения искусства</p>
            </div>
        </div>
        <div class="ratio">
            <div class="row">
                <div class="col-lg-6 ratio__item">
                    <div class="ratio__item__percent js-circle" data-value="0.51">
                        <div class="value"></div>
                    </div>
                    <div class="ratio__item__description">электронных фрагментов каждого произведения искусства остаются
                        в собственности проекта Investment Technologiesи выступают в качестве материального обеспечения
                        выпуска криптоактива Investment Technologies
                    </div>
                </div>
                <div class="col-lg-6 ratio__item">
                    <div class="ratio__item__percent js-circle" data-value="0.49">
                        <div class="value"></div>
                    </div>
                    <div class="ratio__item__description">электронных фрагментов каждого произведения искусства
                        предназначены для продажи за утилитарные токены. Количество и размер фрагментов определяются,
                        исходя из стоимости произведения искусства и курсов валют.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sct-roadmap" class="sct sct-roadmap">
    <div class="container">
        <div class="sct__header">
            <h2>Roadmap</h2>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <img src="uploads/map.png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="roadmap">
            <div id="roadmap-nav" class="roadmap__nav">
                <a href="#" class="roadmap__prev"><i class="icon-keyboard-left-arrow-button"></i></a>
                <a href="#" class="roadmap__next"><i class="icon-keyboard-right-arrow-button"></i></a>
            </div>
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div id="roadmap-carousel" class="roadmap__carousel">
                        <div class="roadmap__carousel__item">
                            <div class="roadmap__carousel__item__date">05 / 2018</div>
                            <div class="roadmap__carousel__item__separator"></div>
                            <div class="roadmap__carousel__item__title">Закрытая предпродажа</div>
                            <div class="roadmap__carousel__item__description">Начало закрытой продажи токенов Investment Technologies</div>
                        </div>
                        <div class="roadmap__carousel__item">
                            <div class="roadmap__carousel__item__date">05 / 2018</div>
                            <div class="roadmap__carousel__item__separator"></div>
                            <div class="roadmap__carousel__item__title">Покупка картин</div>
                            <div class="roadmap__carousel__item__description">Начало закрытой продажи токенов Investment Technologies</div>
                        </div>
                        <div class="roadmap__carousel__item">
                            <div class="roadmap__carousel__item__date">05 / 2018</div>
                            <div class="roadmap__carousel__item__separator"></div>
                            <div class="roadmap__carousel__item__title">Эмиссия токена IT</div>
                            <div class="roadmap__carousel__item__description">Начало закрытой продажи токенов Investment Technologies</div>
                        </div>
                        <div class="roadmap__carousel__item">
                            <div class="roadmap__carousel__item__date">05 / 2018</div>
                            <div class="roadmap__carousel__item__separator"></div>
                            <div class="roadmap__carousel__item__title">Закрытая предпродажа</div>
                            <div class="roadmap__carousel__item__description">Начало закрытой продажи токенов Investment Technologies</div>
                        </div>
                        <div class="roadmap__carousel__item">
                            <div class="roadmap__carousel__item__date">05 / 2018</div>
                            <div class="roadmap__carousel__item__separator"></div>
                            <div class="roadmap__carousel__item__title">Покупка картин</div>
                            <div class="roadmap__carousel__item__description">Начало закрытой продажи токенов Investment Technologies</div>
                        </div>
                        <div class="roadmap__carousel__item">
                            <div class="roadmap__carousel__item__date">05 / 2018</div>
                            <div class="roadmap__carousel__item__separator"></div>
                            <div class="roadmap__carousel__item__title">Эмиссия токена IT</div>
                            <div class="roadmap__carousel__item__description">Начало закрытой продажи токенов Investment Technologies</div>
                        </div>
                        <div class="roadmap__carousel__item">
                            <div class="roadmap__carousel__item__date">05 / 2018</div>
                            <div class="roadmap__carousel__item__separator"></div>
                            <div class="roadmap__carousel__item__title">Закрытая предпродажа</div>
                            <div class="roadmap__carousel__item__description">Начало закрытой продажи токенов Investment Technologies</div>
                        </div>
                        <div class="roadmap__carousel__item">
                            <div class="roadmap__carousel__item__date">05 / 2018</div>
                            <div class="roadmap__carousel__item__separator"></div>
                            <div class="roadmap__carousel__item__title">Покупка картин</div>
                            <div class="roadmap__carousel__item__description">Начало закрытой продажи токенов Investment Technologies</div>
                        </div>
                        <div class="roadmap__carousel__item">
                            <div class="roadmap__carousel__item__date">05 / 2018</div>
                            <div class="roadmap__carousel__item__separator"></div>
                            <div class="roadmap__carousel__item__title">Эмиссия токена IT</div>
                            <div class="roadmap__carousel__item__description">Начало закрытой продажи токенов Investment Technologies</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="sct-subscription" class="sct sct-subscription">
    <div class="container">
        <div class="sct__header">
            <h2>Следуйте за нами:</h2>
        </div>
        <div class="subscription__social justify-content-between">
            <div class="subscription__social__item"><a href="#"><i class="icon-facebook-logo"
                                                                   aria-hidden="true"></i></a></div>
            <div class="subscription__social__item"><a href="#"><i class="icon-line-logo" aria-hidden="true"></i></a>
            </div>
            <div class="subscription__social__item"><a href="#"><i class="icon-wechat" aria-hidden="true"></i></a></div>
            <div class="subscription__social__item"><a href="#"><i class="icon-instagram-logo" aria-hidden="true"></i></a>
            </div>
            <div class="subscription__social__item"><a href="#"><i class="icon-linkedin-logo"
                                                                   aria-hidden="true"></i></a></div>
            <div class="subscription__social__item"><a href="#"><i class="icon-youtube" aria-hidden="true"></i></a>
            </div>
            <div class="subscription__social__item"><a href="#"><i class="icon-telegram" aria-hidden="true"></i></a>
            </div>
            <div class="subscription__social__item"><a href="#"><i class="icon-google-plus" aria-hidden="true"></i></a>
            </div>
            <div class="subscription__social__item"><a href="#"><i class="icon-twitter-logo-silhouette"
                                                                   aria-hidden="true"></i></a></div>
        </div>
        <div class="subscription__form">
            <form class="" action="">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="form-group"><label for="subscription_1">Подпишитесь на рассылку и будьте в курсе!</label></div>
                    </div>
                    <div class="col-sm-8 col-lg-4">
                        <div class="form-group mb-sm-0">
                            <input type="text" id="subscription_1" class="form-control" placeholder="Введите ваш e-mail">
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-3">
                        <button type="submit" class="btn btn-white btn-block">подписаться</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section id="sct-about" class="sct sct-about">
    <div class="container">
        <div class="row sct__content">
            <div class="col-sm-6">
                <h3>Investment Technologies – первая в мире блокчейн-платформа для ценителей искусства</h3>
                <p>23 марта 2018 года сериография картины Петра Лизунова «Самолет» была виртуально разделена на
                    пронумерованные 86400 квадратов стороной 5 мм, каждый из которых был выставлен на продажу. Один
                    виртуальный квадрат стоил один токен.</p>
            </div>
            <div class="col-sm-6">
                <img src="uploads/illustration-3.png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row sct__content">
            <div class="col-sm-6 order-sm-last">
                <h3>Единственная криптовалюта, которая обеспечена предметами искусства</h3>
                <p>Эмиссия токенов IT выполнена на платформе Ethereum (стандарт ERC-20). Пользователи смогут приобрести
                    часть токенов через криптокошельки XZEN (блокчейн-платформа Graphene). В тестовую среду выпущены
                    50000000 монет IT.</p>
            </div>
            <div class="col-sm-6 order-sm-first">
                <img src="uploads/illustration-4.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section id="sct-collection" class="sct sct-collection">
    <div class="container">
        <div class="sct__header">
            <h2>Наша коллекция</h2>
        </div>
        <div class="collection">
            <div class="row">
                <div class="col-sm-6 collection__item">
                    <div class="collection__item__wrapper">
                        <div class="collection__item__img">
                            <img src="uploads/collection-img-2.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="collection__item__info">
                            <div class="collection__item__info__text">
                                <div class="collection__item__info__title">Название картины</div>
                                <div class="collection__item__info__author">Автор: Иван Иванов</div>
                            </div>
                            <div class="collection__item__info__btn">
                                <a href="#" class="btn btn-primary btn-block"><i class="icon-shopping-cart"></i>Купить</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 collection__item">
                    <div class="collection__item__wrapper">
                        <div class="collection__item__img">
                            <img src="uploads/collection-img-1.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="collection__item__info">
                            <div class="collection__item__info__text">
                                <div class="collection__item__info__title">Название картины</div>
                                <div class="collection__item__info__author">Автор: Иван Иванов</div>
                            </div>
                            <div class="collection__item__info__btn">
                                <a href="#" class="btn btn-primary btn-block"><i class="icon-shopping-cart"></i>Купить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sct__all">
            <a href="#">Все полотна<i class="icon-right-arrow-key"></i></a>
        </div>
    </div>
</section>

<section id="sct-team" class="sct sct-team">
    <div class="container">
        <div class="sct__header">
            <h2>Команда проекта</h2>
        </div>
        <div class="team">
            <div class="row">
                <div class="col-6 col-lg-3 team__item">
                    <div class="team__item__img">
                        <a href="#" data-mask="Узнать больше">
                            <img src="uploads/team-img-1.jpg" alt="Иван Иванов" class="img-fluid">
                        </a>
                    </div>
                    <div class="team__item__name"><a href="#">Иван Иванов</a></div>
                    <div class="team__item__position">СЕО & СFO</div>
                </div>
                <div class="col-6 col-lg-3 team__item">
                    <div class="team__item__img">
                        <a href="#" data-mask="Узнать больше">
                            <img src="uploads/team-img-1.jpg" alt="Иван Иванов" class="img-fluid">
                        </a>
                    </div>
                    <div class="team__item__name"><a href="#">Иван Иванов</a></div>
                    <div class="team__item__position">COO</div>
                </div>
                <div class="col-6 col-lg-3 team__item">
                    <div class="team__item__img">
                        <a href="#" data-mask="Узнать больше">
                            <img src="uploads/team-img-1.jpg" alt="Иван Иванов" class="img-fluid">
                        </a>
                    </div>
                    <div class="team__item__name"><a href="#">Иван Иванов</a></div>
                    <div class="team__item__position">Предприниматель, инвестор</div>
                </div>
                <div class="col-6 col-lg-3 team__item">
                    <div class="team__item__img">
                        <a href="#" data-mask="Узнать больше">
                            <img src="uploads/team-img-1.jpg" alt="Иван Иванов" class="img-fluid">
                        </a>
                    </div>
                    <div class="team__item__name"><a href="#">Иван Иванов</a></div>
                    <div class="team__item__position">Управление ИТ-проектами</div>
                </div>
            </div>
        </div>
        <div class="sct__more">
            <a href="#" class="js-show-more">Показать больше<i class="icon-down-arrow-key"></i></a>
        </div>
    </div>
</section>

<section id="sct-news" class="sct sct-news">
    <div class="container">
        <div class="sct__header">
            <h2>Новости</h2>
        </div>
        <div class="news">
            <div class="row">
                <div class="col-sm-6 col-lg-4 news__item">
                    <div class="news__item__img">
                        <a href="#"><img src="uploads/news-lp-img-1.jpg" alt="Restoring the access to the account" class="img-fluid"></a>
                    </div>
                    <div class="news__item__date">21.11.2018</div>
                    <div class="news__item__title"><a href="#">Restoring the access to the account</a></div>
                </div>
                <div class="col-sm-6 col-lg-4 news__item">
                    <div class="news__item__img">
                        <a href="#"><img src="uploads/news-lp-img-2.jpg" alt="IT tokens to cryptocurrency wallets – new sending procedure" class="img-fluid"></a>
                    </div>
                    <div class="news__item__date">21.11.2018</div>
                    <div class="news__item__title"><a href="#">IT tokens to cryptocurrency wallets – new sending procedure</a></div>
                </div>
                <div class="col-lg-4 d-sm-none d-lg-block news__item">
                    <div class="news__item__img">
                        <a href="#"><img src="uploads/news-lp-img-3.jpg" alt="Virtual Tour of the Investment Technologies" class="img-fluid"></a>
                    </div>
                    <div class="news__item__date">21.11.2018</div>
                    <div class="news__item__title"><a href="#">Virtual Tour of the Investment Technologies</a></div>
                </div>
            </div>
        </div>
        <div class="sct__all">
            <a href="#">Все новости<i class="icon-right-arrow-key"></i></a>
        </div>
    </div>
</section>

<section id="sct-partners" class="sct sct-partners">
    <div id="partners-nav" class="partners__nav">
        <a href="#" class="partners__prev"><i class="icon-keyboard-left-arrow-button"></i></a>
        <a href="#" class="partners__next"><i class="icon-keyboard-right-arrow-button"></i></a>
    </div>
    <div id="carousel-partners" class="partners partners-carousel">
        <div class="partners__item">
            <img src="uploads/partner-img.png" alt="">
        </div>
        <div class="partners__item">
            <img src="uploads/partner-img.png" alt="">
        </div>
        <div class="partners__item">
            <img src="uploads/partner-img.png" alt="">
        </div>
        <div class="partners__item">
            <img src="uploads/partner-img.png" alt="">
        </div>
        <div class="partners__item">
            <img src="uploads/partner-img.png" alt="">
        </div>
        <div class="partners__item">
            <img src="uploads/partner-img.png" alt="">
        </div>
        <div class="partners__item">
            <img src="uploads/partner-img.png" alt="">
        </div>
        <div class="partners__item">
            <img src="uploads/partner-img.png" alt="">
        </div>
        <div class="partners__item">
            <img src="uploads/partner-img.png" alt="">
        </div>
        <div class="partners__item">
            <img src="uploads/partner-img.png" alt="">
        </div>
    </div>

</section>

<section id="sct-faq" class="sct sct-faq">
    <div class="container">
        <div class="sct__header">
            <h2>Frequently Asked Questions</h2>
        </div>
        <div class="faq">
            <div class="row">
                <div class="col-md-10 col-lg-6 mx-auto faq__col">
                    <div class="faq__item d-flex align-items-center">
                        <div class="faq__item__reference">
                            <a tabindex="0" role="button" class="btn btn-primary popovers"
                               data-toggle="popover"
                               data-trigger="focus">
                                <i class="icon-add-plus-button"></i>
                            </a>
                        </div>
                        <div class="faq__item__question">What is the Blockchain?</div>
                        <div class="faq__item__answer">
                            A blockchain (originally block chain) - a continuous sequential chain of blocks (linked list), built up by certain rules, containing information. Very often, copies of the chains of blocks are stored separately on a variety of different computers. With the help of blockchain technology, all data about buying and selling are fixed and checked by all participants of the transaction.
                        </div>
                    </div>
                    <div class="faq__item d-flex align-items-center">
                        <div class="faq__item__reference">
                            <a tabindex="0" role="button" class="btn btn-primary popovers" data-toggle="popover">
                                <i class="icon-add-plus-button"></i>
                            </a>
                        </div>
                        <div class="faq__item__question">How many tokens will be issued?</div>
                        <div class="faq__item__answer">
                            A blockchain (originally block chain) - a continuous sequential chain of blocks (linked list), built up by certain rules, containing information. Very often, copies of the chains of blocks are stored separately on a variety of different computers. With the help of blockchain technology, all data about buying and selling are fixed and checked by all participants of the transaction.
                        </div>
                    </div>
                    <div class="faq__item d-flex align-items-center">
                        <div class="faq__item__reference">
                            <a tabindex="0" role="button" class="btn btn-primary popovers" data-toggle="popover">
                                <i class="icon-add-plus-button"></i>
                            </a>
                        </div>
                        <div class="faq__item__question">After entering of the token on the exchange, how will the
                            interaction with customers continue?
                        </div>
                        <div class="faq__item__answer">
                            A blockchain (originally block chain) - a continuous sequential chain of blocks (linked list), built up by certain rules, containing information. Very often, copies of the chains of blocks are stored separately on a variety of different computers. With the help of blockchain technology, all data about buying and selling are fixed and checked by all participants of the transaction.
                        </div>
                    </div>
                    <div class="faq__item d-flex align-items-center">
                        <div class="faq__item__reference">
                            <a tabindex="0" role="button" class="btn btn-primary popovers" data-toggle="popover">
                                <i class="icon-add-plus-button"></i>
                            </a>
                        </div>
                        <div class="faq__item__question">What kind of paintings are sold for the tokens?</div>
                        <div class="faq__item__answer">
                            A blockchain (originally block chain) - a continuous sequential chain of blocks (linked list), built up by certain rules, containing information. Very often, copies of the chains of blocks are stored separately on a variety of different computers. With the help of blockchain technology, all data about buying and selling are fixed and checked by all participants of the transaction.
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-lg-6 mx-auto faq__col">
                    <div class="faq__item d-flex align-items-center">
                        <div class="faq__item__reference">
                            <a tabindex="0" role="button" class="btn btn-primary popovers" data-toggle="popover">
                                <i class="icon-add-plus-button"></i>
                            </a>
                        </div>
                        <div class="faq__item__question">What is a Smart contract?</div>
                        <div class="faq__item__answer">
                            A blockchain (originally block chain) - a continuous sequential chain of blocks (linked list), built up by certain rules, containing information. Very often, copies of the chains of blocks are stored separately on a variety of different computers. With the help of blockchain technology, all data about buying and selling are fixed and checked by all participants of the transaction.
                        </div>
                    </div>
                    <div class="faq__item d-flex align-items-center">
                        <div class="faq__item__reference">
                            <a tabindex="0" role="button" class="btn btn-primary popovers" data-toggle="popover">
                                <i class="icon-add-plus-button"></i>
                            </a>
                        </div>
                        <div class="faq__item__question">What is token?</div>
                        <div class="faq__item__answer">
                            A blockchain (originally block chain) - a continuous sequential chain of blocks (linked list), built up by certain rules, containing information. Very often, copies of the chains of blocks are stored separately on a variety of different computers. With the help of blockchain technology, all data about buying and selling are fixed and checked by all participants of the transaction.
                        </div>
                    </div>
                    <div class="faq__item d-flex align-items-center">
                        <div class="faq__item__reference">
                            <a tabindex="0" role="button" class="btn btn-primary popovers" data-toggle="popover">
                                <i class="icon-add-plus-button"></i>
                            </a>
                        </div>
                        <div class="faq__item__question">How will the increase in the cost of the token correlate with the
                            real value of the picture?
                        </div>
                        <div class="faq__item__answer">
                            A blockchain (originally block chain) - a continuous sequential chain of blocks (linked list), built up by certain rules, containing information. Very often, copies of the chains of blocks are stored separately on a variety of different computers. With the help of blockchain technology, all data about buying and selling are fixed and checked by all participants of the transaction.
                        </div>
                    </div>
                    <div class="faq__item d-flex align-items-center">
                        <div class="faq__item__reference">
                            <a tabindex="0" role="button" class="btn btn-primary popovers" data-toggle="popover">
                                <i class="icon-add-plus-button"></i>
                            </a>
                        </div>
                        <div class="faq__item__question">What will happen to the paintings that were bought?</div>
                        <div class="faq__item__answer">
                            A blockchain (originally block chain) - a continuous sequential chain of blocks (linked list), built up by certain rules, containing information. Very often, copies of the chains of blocks are stored separately on a variety of different computers. With the help of blockchain technology, all data about buying and selling are fixed and checked by all participants of the transaction.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sct-subscription-bottom" class="sct sct-subscription">
    <div class="container">
        <div class="subscription__form">
            <form class="" action="">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="form-group"><label for="subscription_2">Подпишитесь на рассылку и будьте в курсе!</label></div>
                    </div>
                    <div class="col-sm-8 col-lg-4">
                        <div class="form-group mb-sm-0">
                            <input type="text" id="subscription_2" class="form-control" placeholder="Введите ваш e-mail">
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-3">
                        <button type="submit" class="btn btn-white btn-block">подписаться</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<%= _.template(require('./../includes/footer.html'))(data) %>