<% var data = {
auth: true,
lp: false,
title: "",
author: ""
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<h1>Новости проекта</h1>

<div class="news">
    <div class="row">
        <div class="col-sm-6 news__item">
            <div class="news__img"><a href="#"><img src="uploads/news-img-1.jpg"
                                                    alt="IT tokens to cryptocurrency wallets – new sending procedure" class="img-fluid"></a>
            </div>
            <div class="news__date">21.11.2018</div>
            <div class="news__title"><a href="#">IT tokens to cryptocurrency wallets – new sending procedure</a></div>
        </div>
        <div class="col-sm-6 news__item">
            <div class="news__img"><a href="#"><img src="uploads/news-img-2.jpg"
                                                    alt="Компания вносит некоторые изменения в получение дивидендов от Бонуса глубины" class="img-fluid"></a>
            </div>
            <div class="news__date">21.11.2018</div>
            <div class="news__title"><a href="#">Компания вносит некоторые изменения в получение дивидендов от Бонуса глубины</a></div>
        </div>
        <div class="col-sm-6 news__item">
            <div class="news__img"><a href="#"><img src="uploads/news-img-1.jpg"
                                                    alt="IT tokens to cryptocurrency wallets – new sending procedure" class="img-fluid"></a>
            </div>
            <div class="news__date">21.11.2018</div>
            <div class="news__title"><a href="#">IT tokens to cryptocurrency wallets – new sending procedure</a></div>
        </div>
        <div class="col-sm-6 news__item">
            <div class="news__img"><a href="#"><img src="uploads/news-img-2.jpg"
                                                    alt="Компания вносит некоторые изменения в получение дивидендов от Бонуса глубины" class="img-fluid"></a>
            </div>
            <div class="news__date">21.11.2018</div>
            <div class="news__title"><a href="#">Компания вносит некоторые изменения в получение дивидендов от Бонуса глубины</a></div>
        </div>
        <div class="col-sm-6 news__item">
            <div class="news__img"><a href="#"><img src="uploads/news-img-1.jpg"
                                                    alt="IT tokens to cryptocurrency wallets – new sending procedure" class="img-fluid"></a>
            </div>
            <div class="news__date">21.11.2018</div>
            <div class="news__title"><a href="#">IT tokens to cryptocurrency wallets – new sending procedure</a></div>
        </div>
        <div class="col-sm-6 news__item">
            <div class="news__img"><a href="#"><img src="uploads/news-img-2.jpg"
                                                    alt="Компания вносит некоторые изменения в получение дивидендов от Бонуса глубины" class="img-fluid"></a>
            </div>
            <div class="news__date">21.11.2018</div>
            <div class="news__title"><a href="#">Компания вносит некоторые изменения в получение дивидендов от Бонуса глубины</a></div>
        </div>
    </div>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
    </ul>
</nav>

<%= _.template(require('./../includes/footer.html'))(data) %>