<% var data = {
auth: true,
lp: false,
title: "",
author: ""
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<h1>Длинное название картины</h1>

<div class="product">
    <div class="row mb-5">
        <div class="col-lg-6">
            <div class="product__img">
                <img src="uploads/product-img.jpg" alt="Длинное название картины" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="product__info">
                <div class="row">
                    <div class="col-7">Автор:</div>
                    <div class="col-5 value">Иван Иванов</div>
                </div>
                <div class="row">
                    <div class="col-7">Количество фрагментов:</div>
                    <div class="col-5 value">86400</div>
                </div>
                <div class="row">
                    <div class="col-7">Продано:</div>
                    <div class="col-5 value">54679</div>
                </div>
                <div class="row">
                    <div class="col-7">Зарезервировано:</div>
                    <div class="col-5 value">34234</div>
                </div>
                <div class="row">
                    <div class="col-12">Полотно находится в частной коллекции и принадлежит компании</div>
                </div>
                <div class="product__info__btn">
                    <a href="#" class="btn btn-buy btn-primary"><i class="icon-shopping-cart"></i><span>Купить</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="product__about mb-5">
        <h4>О полотне</h4>
        <p>120х180 см., холст, масло, смешанная техника, 2015 год.<br>
            Чтобы со знанием дела написать сочинение-описание картины, нужно провести подготовительную работу. Советуем вам воспользоваться справочными интернет-ресурсами, например, заглянуть в список художников, внимательно почитать их биографии и рассмотреть картины живописцев. Так вы получите более полное представление о творчестве того или иного мастера, будете различать техники, манеру письма, узнавать авторский стиль и основную тематику. Надеемся, вы разбираетесь в жанрах живописи, знаете, в чем характерные особенности (и какие бывают разновидности) портрета, пейзажа, натюрморта.<br>
            Постарайтесь определить основные микротемы картины. Оцените роль изобретательно-выразительных средств (формата, композиции, света, цвета, общего колорита); как эти средства помогают в выражении основной идеи полотна, авторской позиции.
        </p>
    </div>
    <div class="link-left-arrow"><a href="#"><i class="icon-left-arrow-key"></i>Назад в каталог</a></div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>