<% var data = {
auth: true,
lp: true,
title: "",
author: ""
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<div class="sct sct-ref-1">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 m-auto text-center">
                <div class="sct__header">
                    <h2>Хочешь заработать красиво на красивом?</h2>
                    <p>Криптоактив Investment Technologies – новый инструментдля частных коллекционеров</p>
                </div>
                <a href="#" class="btn btn-primary">Смотреть видео</a>
            </div>
        </div>
    </div>
</div>

<div class="sct sct-ref-2">
    <div class="container">
        <div class="sct__header text-center">
            <h2>Инвестируй в вечное</h2>
            <p>Ты не можешь купить 4 см квартиры, но ты можешь купить 4 см картины! Угадай, что круче?</p>
        </div>
        <div class="row sct__content">
            <div class="col-sm-6 order-sm-last">
                <h3>Всё начинается с выбора фрагмента картины</h3>
                <p>Загляни в свое будущее – в нашу галерею. Мы подготовили для вас видео о проекте</p>
                <a href="#" class="btn btn-primary">Смотреть видео</a>
            </div>
            <div class="col-sm-6 order-sm-first">
                <img src="uploads/ill-land-1.png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row sct__content">
            <div class="col-sm-6">
                <h3>Дальше просто...</h3>
                <ul>
                    <li>вливайся в наше сообщество</li>
                    <li>стань причастным к миру искусства</li>
                    <li>получай бонусы от клуба</li>
                    <li>создай свою сеть и увеличь доход</li>
                    <li>зарабатывай!</li>
                    <li>защищай свои сбережения!</li>
                </ul>
                <a href="#" class="btn btn-primary">Присоединиться</a>
            </div>
            <div class="col-sm-6">
                <img src="uploads/ill-land-2.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="sct sct-ref-3">
    <div class="container">
        <div class="sct__header text-center">
            <h2>Твои риски сведены к нулю</h2>
        </div>
        <div class="steps">
            <div class="row">
                <div class="col-sm-6 col-lg-3 steps__item">
                    <div class="steps__item__img"><img src="uploads/step-ref-1.png"
                                                       alt="1.Удобная система и готовый сервис"></div>
                    <div class="steps__item__number">01</div>
                    <div class="steps__item__title">Удобная система и готовый сервис</div>
                    <div class="steps__item__description">
                        Пригласи своих друзей –
                        подари им праздник! Компания обеспечивает всё для старта твоего бизнеса
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 steps__item">
                    <div class="steps__item__img"><img src="uploads/step-ref-2.png" alt="2.Совершенно безопасно">
                    </div>
                    <div class="steps__item__number">02</div>
                    <div class="steps__item__title">Совершенно безопасно</div>
                    <div class="steps__item__description">
                        Твою собственность невозможно украсть, испортить, уничтожить. Безопасность обеспечена
                        технологией блокчейна
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 steps__item">
                    <div class="steps__item__img"><img src="uploads/step-ref-3.png" alt="3.Гарантируем анонимность">
                    </div>
                    <div class="steps__item__number">03</div>
                    <div class="steps__item__title">Гарантируем анонимность</div>
                    <div class="steps__item__description">
                        Мы никому не расскажем, что вы сложились в наш бизнес, если вы этого захотите.
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 steps__item">
                    <div class="steps__item__img"><img src="uploads/step-ref-4.png"
                                                       alt="4.Токены  не обесцениваются"></div>
                    <div class="steps__item__number">04</div>
                    <div class="steps__item__title">Токены  не обесцениваются</div>
                    <div class="steps__item__description">
                        Наш токен обеспечен необесцениваемым активом - картиной, которая будет стоить дороже из года в год
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sct sct-ref-4">
    <div class="container">
        <div class="row sct__content">
            <div class="col-sm-6 order-sm-last">
                <h3>В чем суть бизнеса?</h3>
                <p>Новый пользователь в течение первых 30 дней получает Бонус глубины 15% с первого уровня в любом случае,
                    даже если имеет всего одного партнера, купившего всего один токен. Посмотрите презентацию и узнайте
                    больше.</p>
                <a href="#" class="btn btn-primary">Презентация</a>
            </div>
            <div class="col-sm-6 order-sm-first">
                <img src="uploads/ill-land-2.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="sct sct-ref-5">
    <div class="container">
        <div class="sct__header text-center">
            <h2>Здесь есть большие деньги</h2>
            <p>Если ты купил наш токен за 300 - ты открыл дверь в инвестиции, сделал шаг к фантастическому доходу</p>
        </div>
        <div class="advantage">
            <div class="row">
                <div class="col-sm-6 col-lg-4 advantage__item">
                    <div class="advantage__item__img">
                        <img src="uploads/advantage-ref-1.png" alt="Инвестируй">
                    </div>
                    <div class="advantage__item__title">Инвестируй</div>
                    <div class="advantage__item__description">
                        Компания проводит оценку подлинности произведения искусства. Процесс покупки произведения.
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 advantage__item">
                    <div class="advantage__item__img">
                        <img src="uploads/advantage-ref-2.png" alt="Получай перспективы">
                    </div>
                    <div class="advantage__item__title">Получай перспективы</div>
                    <div class="advantage__item__description">
                        Компания проводит оценку подлинности произведения искусства. Процесс покупки произведения.
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 advantage__item">
                    <div class="advantage__item__img">
                        <img src="uploads/advantage-ref-3.png" alt="Стань членом клуба">
                    </div>
                    <div class="advantage__item__title">Стань членом клуба</div>
                    <div class="advantage__item__description">
                        Компания проводит оценку подлинности произведения искусства. Процесс покупки произведения.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sct sct-ref-6">
    <div class="container">
        <div class="sct__header text-center">
            <h2>Ты с нами?</h2>
            <p>Оставь свои данные, и мы обязательно с тобой свяжемся</p>
        </div>
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="form">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group"><input type="text" class="form-control" placeholder="Ваше имя"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group"><input type="text" class="form-control" placeholder="Ваш город"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group"><input type="text" class="form-control" placeholder="Ваш телефон"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group"><input type="text" class="form-control" placeholder="Ваш e-mail"></div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="checkbox" id="confirm"><label for="confirm">Согласен с <a href="#">политикой конфиденциальности и обработки персональных данных</a></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-primary" type="submit">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>