<% var data = {
auth: true,
lp: false,
title: "",
author: ""
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<h1>Партнерская программа</h1>

<div class="referals">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#sector">Сектора</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#sponsors">Структура</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#profit">Доход</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="sector" class="tab-pane fade show active" role="tabpanel">
            <p class="lead">Наши картины поделены на десятки тысяч фрагментов. Фрагменты пересчитываются в токены.
                Токены попадают в первый сектор нашей ступени. Это сектор красного цвета. Когда первый сектор
                наполняется до 100 %, то все фрагменты из первого сектора перемещаются в второй сектор. На ваш счет
                поступает 5 у. е. за каждый токен. В свою очередь, токены из второго сектора перемещаются в третий и
                далее по секторам.</p>

            <h3>Мои токены</h3>

            <div class="table-responsive">
                <div class="sector">
                    <div class="sector__item">
                        <div class="sector__value">43%</div>
                        <div class="sector__label">1 сектор</div>
                    </div>
                    <div class="sector__item">
                        <div class="sector__value">34</div>
                        <div class="sector__label">2 сектор</div>
                    </div>
                    <div class="sector__item">
                        <div class="sector__value">120</div>
                        <div class="sector__label">3 сектор</div>
                    </div>
                    <div class="sector__item">
                        <div class="sector__value">34</div>
                        <div class="sector__label">4 сектор</div>
                    </div>
                    <div class="sector__item disabled">
                        <div class="sector__value">0</div>
                        <div class="sector__label">5 сектор</div>
                    </div>
                    <div class="sector__item disabled">
                        <div class="sector__value">0</div>
                        <div class="sector__label">6 сектор</div>
                    </div>
                    <div class="sector__item disabled">
                        <div class="sector__value">0</div>
                        <div class="sector__label">7 сектор</div>
                    </div>
                </div>
                <div class="sector-progress">
                    <div class="sector-progress__item"></div>
                    <div class="sector-progress__item"><span>+5 у.e</span></div>
                    <div class="sector-progress__item"><span>+10 у.e</span></div>
                    <div class="sector-progress__item"><span>+15 у.e</span></div>
                    <div class="sector-progress__item"><span>+20 у.e</span></div>
                    <div class="sector-progress__item"><span>+25 у.e</span></div>
                    <div class="sector-progress__item"><span>+45 у.e</span></div>
                </div>
            </div>

        </div>
        <div id="sponsors" class="tab-pane fade" role="tabpanel">
            <h3>Мой спонсор</h3>
            <table class="table table-responsive">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Имя пользователя</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Дата регистрации</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Name company</td>
                    <td>info@maillongmail.com</td>
                    <td>23.12.2017</td>
                </tr>
            </table>
            <h3>Моя структура</h3>
            <div class="total-turnover">Общий товарооборот: <span>23 543 у.е.</span></div>
            <table class="table table-responsive">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Имя пользователя</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Дата регистрации</th>
                    <th scope="col">Структура</th>
                    <th scope="col">Всего</th>
                    <th scope="col">Товарооборот</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Name company</td>
                    <td>info@maillongmail.com</td>
                    <td>23.12.2017</td>
                    <td>01 фаза</td>
                    <td>12</td>
                    <td>1 234 у.е.</td>
                </tr>
                <tr>
                    <td>Name company</td>
                    <td>info@maillongmail.com</td>
                    <td>23.12.2017</td>
                    <td>01 фаза</td>
                    <td>12</td>
                    <td>1 234 у.е.</td>
                </tr>
                <tr>
                    <td>Name company</td>
                    <td>info@maillongmail.com</td>
                    <td>23.12.2017</td>
                    <td>01 фаза</td>
                    <td>12</td>
                    <td>1 234 у.е.</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="profit" class="tab-pane fade" role="tabpanel">
            <h3>Доход</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet autem beatae consequuntur cum deleniti dignissimos doloremque expedita illo, impedit nostrum praesentium quasi quis, rerum sed, sit tempore vero voluptates.</p>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>