<% var data = {
auth: false,
lp: false,
title: "",
author: ""
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<h1>Регистрация</h1>

<form action="">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Введите логин">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Пароль">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Ваше имя">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Подтверждение пароля">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Ваш eimail">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Мобильный телефон">
            </div>
        </div>
    </div>

    <h5 class="mt-4">Контактное лицо в Investment Technologies</h5>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Ваш eimail">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="checkbox" id="confirm"><label for="confirm">Согласен с <a href="#">политикой конфиденциальности</a></label>
            </div>
            <div class="form-group">
                <input type="checkbox" id="subscribe"><label for="subscribe">Подписаться на новости и рассылку</label>
            </div>
        </div>
    </div>

            <button type="submit" class="btn btn-primary">Отправить</button>

</form>

<%= _.template(require('./../includes/footer.html'))(data) %>