<% var data = {
auth: true,
lp: false,
title: "",
author: ""
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<h1>Кошелек</h1>


<ul class="nav nav-tabs wallet-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#refill">Пополнение</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#withdrawal">Вывод</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#transfer">Перевод</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#history">История</a>
    </li>
</ul>



<div class="tab-content">
    <div id="refill" class="tab-pane fade show active" role="tabpanel">
        <h3>Внести деньги</h3>

        <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#type-1" data-toggle="pill" role="tab">Банковская карта</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#type-2" data-toggle="pill" role="tab">Система денежных переводов</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#type-3" data-toggle="pill" role="tab">Счет организации или ИП</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="type-1" role="tabpanel">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="radio" name="refillMethod" id="method-1"><label for="method-1">Способ пополнения 1 (Банковская карта)</label>
                        </div>
                        <div class="form-group">
                            <input type="radio" name="refillMethod" id="method-2"><label for="method-2">Способ пополнения 2 (Банковская карта)</label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Сумма пополнения, у.е.">
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="confirm"><label for="confirm">Подтверждаю перевод средств</label>
                        </div>
                        <button type="submit" class="btn btn-primary">перевести</button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="type-2" role="tabpanel">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="radio" name="refillMethod" id="method-3"><label for="method-3">Способ пополнения 1 (Система денежных переводов)</label>
                        </div>
                        <div class="form-group">
                            <input type="radio" name="refillMethod" id="method-4"><label for="method-4">Способ пополнения 2 (Система денежных переводов)</label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Сумма пополнения, у.е.">
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="confirm_2"><label for="confirm_2">Подтверждаю перевод средств</label>
                        </div>
                        <button type="submit" class="btn btn-primary">перевести</button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="type-3" role="tabpanel">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="radio" name="refillMethod" id="method-5"><label for="method-5">Способ пополнения 1 (Счет организации или ИП)</label>
                        </div>
                        <div class="form-group">
                            <input type="radio" name="refillMethod" id="method-6"><label for="method-6">Способ пополнения 2 (Счет организации или ИП)</label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Сумма пополнения, у.е.">
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="confirm_3"><label for="confirm_3">Подтверждаю перевод средств</label>
                        </div>
                        <button type="submit" class="btn btn-primary">перевести</button>
                    </div>
                </div>
            </div>
        </div>

        <hr/>

        <h5>Мы принимаем:</h5>

        <div class="accept row">
            <div class="accept__item col-6 col-sm-4 col-lg-3"><img src="uploads/logo-bank/thai/TH-krungthai.png" alt="" class="img-fluid"></div>
            <div class="accept__item col-6 col-sm-4 col-lg-3"><img src="uploads/logo-bank/thai/TH-kasikorn.png" alt="" class="img-fluid"></div>
            <div class="accept__item col-6 col-sm-4 col-lg-3"><img src="uploads/logo-bank/thai/TH-bangkok.png" alt="" class="img-fluid"></div>
            <div class="accept__item col-6 col-sm-4 col-lg-3"><img src="uploads/logo-bank/thai/TH-Ayudhya.png" alt="" class="img-fluid"></div>
            <div class="accept__item col-6 col-sm-4 col-lg-3"><img src="uploads/logo-bank/thai/TH-SiamComBank.png" alt="" class="img-fluid"></div>
            <div class="accept__item col-6 col-sm-4 col-lg-3"><img src="uploads/logo-bank/thai/TH-TMB.png" alt="" class="img-fluid"></div>
            <div class="accept__item col-6 col-sm-4 col-lg-3"><img src="uploads/logo-bank/thai/TH-SiamCity.png" alt="" class="img-fluid"></div>
            <div class="accept__item col-6 col-sm-4 col-lg-3"><img src="uploads/logo-bank/thai/TH-UOB.png" alt="" class="img-fluid"></div>
        </div>
    </div>
    <div id="withdrawal" class="tab-pane fade" role="tabpanel">
        <h3>Вывести деньги</h3>
    </div>
    <div id="transfer" class="tab-pane fade" role="tabpanel">
        <h3>Перевод средств</h3>
    </div>
    <div id="history" class="tab-pane fade" role="tabpanel">
        <h3>История</h3>
    </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>