@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?j85qt0');
  src:  url('../fonts/icons/icomoon.eot?j85qt0#iefix') format('embedded-opentype'),
  url('../fonts/icons/icomoon.ttf?j85qt0') format('truetype'),
  url('../fonts/icons/icomoon.woff?j85qt0') format('woff'),
  url('../fonts/icons/icomoon.svg?j85qt0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checked:before {
  content: "\e922";
}
.icon-close-button:before {
  content: "\e920";
}
.icon-play:before {
  content: "\e91f";
}
.icon-diagram-2:before {
  content: "\e917";
}
.icon-list:before {
  content: "\e918";
}
.icon-question:before {
  content: "\e919";
}
.icon-company:before {
  content: "\e91a";
}
.icon-diagram:before {
  content: "\e91b";
}
.icon-painting-2:before {
  content: "\e91c";
}
.icon-wallet-3:before {
  content: "\e91d";
}
.icon-purse:before {
  content: "\e91e";
}
.icon-settings:before {
  content: "\e915";
}
.icon-logout:before {
  content: "\e916";
}
.icon-user:before {
  content: "\e914";
}
.icon-shopping-cart:before {
  content: "\e913";
}
.icon-add-plus-button:before {
  content: "\e909";
}
.icon-keyboard-left-arrow-button:before {
  content: "\e90a";
}
.icon-down-arrow-key:before {
  content: "\e90b";
}
.icon-right-arrow-key:before {
  content: "\e90c";
}
.icon-left-arrow-key:before {
  content: "\e90d";
}
.icon-expand-button:before {
  content: "\e90e";
}
.icon-it:before {
  content: "\e921";
}
.icon-magnifying-glass:before {
  content: "\e90f";
}
.icon-message-closed-envelope:before {
  content: "\e910";
}
.icon-download:before {
  content: "\e911";
}
.icon-keyboard-right-arrow-button:before {
  content: "\e912";
}
.icon-facebook-logo:before {
  content: "\e900";
}
.icon-google-plus:before {
  content: "\e901";
}
.icon-instagram-logo:before {
  content: "\e902";
}
.icon-line-logo:before {
  content: "\e903";
}
.icon-linkedin-logo:before {
  content: "\e904";
}
.icon-telegram:before {
  content: "\e905";
}
.icon-twitter-logo-silhouette:before {
  content: "\e906";
}
.icon-wechat:before {
  content: "\e907";
}
.icon-youtube:before {
  content: "\e908";
}



// FLAGS
.icon-china,.icon-china\:regular{background-image:url('../img/flags/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-china-dims{width:16px;height:16px}
.icon-india,.icon-india\:regular{background-image:url('../img/flags/icons.svg');background-position:0 -16px;background-repeat:no-repeat}
.icon-india-dims{width:16px;height:16px}
.icon-indonesia,.icon-indonesia\:regular{background-image:url('../img/flags/icons.svg');background-position:0 -32px;background-repeat:no-repeat}
.icon-indonesia-dims{width:16px;height:16px}
.icon-malaysia,.icon-malaysia\:regular{background-image:url('../img/flags/icons.svg');background-position:0 -48px;background-repeat:no-repeat}
.icon-malaysia-dims{width:16px;height:16px}
.icon-philippines,.icon-philippines\:regular{background-image:url('../img/flags/icons.svg');background-position:0 -64px;background-repeat:no-repeat}
.icon-philippines-dims{width:16px;height:16px}
.icon-russia,.icon-russia\:regular{background-image:url('../img/flags/icons.svg');background-position:0 -80px;background-repeat:no-repeat}
.icon-russia-dims{width:16px;height:16px}
.icon-thailand,.icon-thailand\:regular{background-image:url('../img/flags/icons.svg');background-position:0 -96px;background-repeat:no-repeat}
.icon-thailand-dims{width:16px;height:16px}
.icon-united-states,.icon-united-states\:regular{background-image:url('../img/flags/icons.svg');background-position:0 -112px;background-repeat:no-repeat}
.icon-united-states-dims{width:16px;height:16px}
.icon-vietnam,.icon-vietnam\:regular{background-image:url('../img/flags/icons.svg');background-position:0 -128px;background-repeat:no-repeat}
.icon-vietnam-dims{width:16px;height:16px}