@include media-breakpoint-down(sm) {
  html{
    font-size: 14px;
  }

  .wallet-tabs{
    flex-wrap: nowrap;

    .nav-item{
      a{
        font-size: .95rem;
      }
    }
  }

  .video{
    &__item{
      margin-bottom: 3rem;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  .news{
    &__item{
      margin-bottom: 3rem;
    }
  }

  .product{
    &__img{
      margin-bottom: 1.5rem;
    }
  }

  .subscription__form{
    .form-group{
      margin-bottom: 1rem;
    }
  }

  .footer{
    .navbar-brand{
      display: block;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      img{
        margin: 0 auto;
      }
    }
    &__content{
      &__links{
        display: block;

      }
      &__link{
        margin-bottom: 1rem;
        a{
          text-align: center;
          justify-content: center;
        }
      }
    }

    &__social{
      justify-content: space-between;
      &__item{
        margin: 0 .5rem 1rem;
        &:first-child{
          margin-left: .5rem;
        }
      }
    }

    &__copyright{
      margin-bottom: 1rem;
      text-align: center;
    }
    &__bottom{
      &__link{
        margin-bottom: 1rem;
        text-align: center;
      }
    }
  }

  //*** LP ***//
  .sct{
    padding: 5rem 0;

    &__header{
      h2{
        text-align: center;
        font-size: 2rem;
      }
      p{
        margin-top: 2.375rem;
        text-align: center;
        color: #88889b;
      }
    }


    &__content{
      h3{
        margin-top: 0;
        margin-bottom: 2rem;
        font-size: 1.75rem;
      }
      img{
        margin: 3rem 0;
      }
    }
  }

  .sct-header{
    height: auto;
    h1{
      margin-top: 7.5rem;
      font-size: 2.25rem;
      text-align: right;
    }
    p{
      text-align: right;
    }
    .btn{
      padding-left: $btn-padding-x;
      padding-right: $btn-padding-x;
    }
  }

  .sct-statistics{}
  .statistics{
    &__item{
      margin-bottom: 2rem;
      &:last-child{
        margin-bottom: 0;
      }
      &__value{
        margin-bottom: 1.5rem;
      }
      &__description{}
    }
  }

  .sct-work{
    background-color: #f8f8f9;


    .sct__content{
      margin-bottom: 5rem;
    }

  }
  .steps{
    margin: 5rem 0 2rem;
    &__item{
      margin-bottom: 3rem;

      &:last-child{
        margin-bottom: 0;
      }

      &__img{
        margin: 0 auto 2rem;
      }
      &__number{
        margin-bottom: 1.5rem;
        text-align: center;
      }
      &__title{
        margin-bottom: 1.5rem;
        color: #464568;
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
      }
      &__description{
        color: #88889b;
        line-height: 1.5rem;
        text-align: center;
      }
    }

  }
  .ratio{
    &__item{
      margin-bottom: 3rem;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  .sct-roadmap{}
  .roadmap{
    margin-top: 5rem;
    &__carousel{
      &__item{
        padding: 0 3rem;
      }
    }
  }


  .sct-subscription{}
  .subscription__social{
    margin: 3rem 0;


    &__item{
      margin-bottom: 1rem;
    }
  }
  .subscription__form{
    .form-group{
      margin-bottom: 1rem;
    }
  }

  .sct-about{
    .sct__content{
      margin-bottom: 5rem;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  .sct-collection{}
  .collection{
    margin: 5rem 0;
    &__item{
      margin-bottom: 3rem;
      &:last-child{
        margin-bottom: 0;
      }
      &__wrapper{
        padding: 0;
      }
      &__img{
        margin-bottom: 1.5rem;
      }
      &__info{
        display: block;
        &__text{
          width: 100%;
          margin-bottom: 1.5rem;
        }
        &__btn{
          width: 100%;
        }
      }

    }
  }

  .team{
    margin: 5rem 0 3rem;
    &__item{
      margin-bottom: 2rem;

      &__img{
        margin-bottom: 1.5rem;
      }
    }
  }

  .sct-news{}
  .news{
    margin: 5rem 0;

    &__item{
      margin-bottom: 3rem;

      &:last-child{
        margin-bottom: 0;
      }

      &__img{
        margin-bottom: 1rem;
      }
      &__date{
        margin-bottom: .5rem;
      }
    }
  }

  .partners{}

  .faq__col{
    margin-bottom: 2.5rem;

    &:last-child{
      margin-bottom: 0;
    }
  }
  //*** LP ***//

  //*** LP-REF ***//
  .steps{
    margin: 5rem 0 2rem;
    &__item{
      margin-bottom: 3rem;

      &:last-child{
        margin-bottom: 0;
      }

      &__img{
        margin: 0 auto 2rem;
      }
      &__number{
        margin-bottom: 1.5rem;
        text-align: center;
      }
      &__title{
        margin-bottom: 1.5rem;
        color: #464568;
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
      }
      &__description{
        color: #88889b;
        line-height: 1.5rem;
        text-align: center;
      }
    }
  }
  .advantage{
    margin: 5rem 0 2rem;
    &__item{
      margin-bottom: 3rem;

      &:last-child{
        margin-bottom: 0;
      }

      &__img{
        margin: 0 auto 2rem;
      }
      &__title{
        margin-bottom: 1.5rem;
        color: #464568;
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
      }
      &__description{
        color: #88889b;
        line-height: 1.5rem;
        text-align: center;
      }
    }
  }
  //*** LP-REF ***//
}

@include media-breakpoint-only(xs) {
  .partners__nav{
    display: none;
  }
}
@include media-breakpoint-only(sm) {
  html{
    font-size: 14px;
  }

  .product{
    &__img{
      margin-bottom: 1.5rem;
    }
  }

  .footer{
    &__content{
      &__link{
        a{
          justify-content: left;
        }
      }
    }
    &__bottom{

    }
  }


  //*** LP ***//
  .sct-roadmap{}
  .roadmap{
    &__carousel{
      padding: 0 3rem;
      &__item{
        padding: 0 1rem;
      }
    }
  }

  .subscription__form{}

  .collection{
    &__item{
      margin-bottom: 0;
    }
  }

  .news{
    &__item{
      margin-bottom: 0;
    }
  }
  .partners__nav{
    a{
      width: calc((100% - 540px)/2);
      font-size: 4rem;
    }
  }
  //*** LP ***//
}

@include media-breakpoint-only(md) {
  html{
    font-size: 14px;
  }

  .product{
    &__img{
      margin-bottom: 1.5rem;
    }
  }

  .footer{
    &__content{
      &__links{
        margin-bottom: 3rem;
      }
    }
    &__social{
      justify-content: space-between;
      &__item{
        margin: 0;
        &:first-child{
          margin-left: 0;
        }
      }
    }
  }

  .sidebar{
    width: 360px;
    left: -360px;
  }


  //*** LP ***//
  .sct{
    padding: 5rem 0;

    &__header{
      h2{
        text-align: center;
        font-size: 2rem;
      }
      p{
        margin-top: 2.375rem;
        text-align: center;
        color: #88889b;
      }
    }


    &__content{
      h3{
        margin-top: 0;
        margin-bottom: 2rem;
        font-size: 1.75rem;
      }
      img{
        margin: 3rem 0;
      }
    }
  }

  .sct-header{
    height: auto;
    h1{
      margin-top: 7.5rem;
      font-size: 2.25rem;
    }
    p{
    }
    .btn{
      padding-left: $btn-padding-x;
      padding-right: $btn-padding-x;
    }
  }

  .steps{
    margin: 5rem 0 2rem;
    &__item{
      margin-bottom: 3rem;
    }

  }
  .ratio {
    &__item {
      margin-bottom: 3rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .roadmap{
    &__carousel{
      padding: 0 3rem;
      &__item{
        padding: 0 1rem;
      }
    }
  }

  .subscription__social{
    margin: 3rem 0;


    &__item{
      width: 4.5rem;
      height: 4.5rem;
      margin-bottom: 1rem;

      a{
        width: 3.25rem;
        height: 3.25rem;
      }
    }
  }

  .sct-news{}
  .news{
    margin: 5rem 0;

    &__item{

      margin-bottom: 0;


      &__img{
        margin-bottom: 1rem;
      }
      &__date{
        margin-bottom: .5rem;
      }
    }
  }

  .sct-collection{}
  .collection{
    margin: 5rem 0;
    &__item{

      &__wrapper{
        padding: 0;
      }
      &__img{
        margin-bottom: 1.5rem;
      }
      &__info{
        display: block;
        &__text{
          width: 100%;
          margin-bottom: 1.5rem;
        }
        &__btn{
          width: 100%;
        }
      }

    }
  }

  .team{
    margin: 5rem 0 3rem;
    &__item{
      margin-bottom: 2rem;

      &__img{
        margin-bottom: 1.5rem;
      }
    }
  }

  .partners__nav{
    a{
      width: calc((100% - 600px));
      font-size: 4rem;
    }
  }

  .faq__col{
    margin-bottom: 2.5rem;

    &:last-child{
      margin-bottom: 0;
    }
  }
  //*** LP ***//

  //*** LP-REF ***//
  .steps, .advantage{
    margin: 5rem 0 2rem;
    &__item{
      margin-bottom: 3rem;
    }
  }
  //*** LP-REF ***//
}

@include media-breakpoint-only(lg) {

  .footer{
    &__social{
      justify-content: space-between;
      &__item{
        margin: 0 1.2rem 1rem;
        &:first-child{
          margin-left: 1.2rem;
        }
      }
    }
  }

  .sidebar{
    width: 360px;
    left: -360px;
  }

  //*** LP ***//
  .sct{
    padding: 5rem 0;

    &__header{
      h2{
        text-align: center;
        font-size: 2rem;
      }
      p{
        margin-top: 2.375rem;
        text-align: center;
        color: #88889b;
      }
    }


    &__content{
      h3{
        margin-top: 0;
        margin-bottom: 2rem;
        font-size: 1.75rem;
      }
      img{
        margin: 3rem 0;
      }
    }
  }

  .sct-header{
    //height: auto;
    h1{
      margin-top: 6rem;
      font-size: 4rem;
    }
    p{
    }
    .btn{
      padding-left: $btn-padding-x;
      padding-right: $btn-padding-x;
    }
  }

  .partners__nav{
    a{
      width: calc((100% - 880px));
      font-size: 4rem;
    }
  }
  //*** LP ***//

  //*** LP-REF ***//

  //*** LP-REF ***//
}