@import "icons";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=cyrillic');
@import "bootstrap";
@import "~slick-carousel/slick/slick";

body{
  min-width: 375px;
}

h1 {
  margin-top: -.6rem;
}

h2, h3, h4, h5 {}

.lead {
  color: #464568;
  line-height: 1.667;
}

b {
  font-weight: 700;
}

ul {
  margin-bottom: $paragraph-margin-bottom;
  padding-left: 1.875rem;
  list-style: none;

  li {
    position: relative;
    margin-bottom: .125rem;
    padding-left: 1.875rem;

    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: .5rem;
      width: 0.625rem;
      height: 0.625rem;
      background-color: #fb5343;
      border-radius: 50%;
    }
  }

  &[class] {
    li {
      padding-left: 0;
      &::before {
        display: none;
      }
    }
  }
}

ol {
  margin-bottom: $paragraph-margin-bottom;
  padding-left: 1.875rem;
  list-style: none;
  counter-reset: li;

  li {
    position: relative;
    margin-bottom: .125rem;
    padding-left: 1.875rem;
    counter-increment: li;

    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      content: counter(li);
      position: absolute;
      left: 0;
      top: 0;
      color: #fb5343;
    }
  }

  &[class] {
    li {
      padding-left: 0;
      &::before {
        display: none;
      }
    }
  }
}

table{

}

//***BUTTONS***//
.btn {
  text-transform: uppercase;
  text-decoration: none;
}

.btn-primary {
  transition: $transition-base;
  background-size: 200% auto;
  background-image: linear-gradient(59deg, #fb8043 0%, #fb4c43 50%, #fb8043 100%);

  &:hover {
    background-position: right center; /* change the direction of the change here */
    box-shadow: 0 7px 26px rgba(251, 76, 67, 0.67);
  }
}

.btn-outline-secondary {
  border: 2px solid #464568;
  color: #464568;

  &:hover {
    background: none;
    border-color: #fb7443;
    color: #fb7443;
    box-shadow: 0 7px 26px rgba(251, 76, 67, 0.67);
  }
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background: none;
    border-color: #fb7443;
    color: #fb7443;
    box-shadow: 0 7px 26px rgba(#fb7443, 0.67);

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(#fb7443, 0.67);
    }
  }
  &:focus,
  &.focus {
    border-color: #fb7443;
    box-shadow: 0 7px 26px rgba(#fb7443, 0.67);
  }
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active{
    color: #fb7443;
  }
}
.show>.btn-outline-secondary.dropdown-toggle{
  color: #fb7443;
}

.btn-buy{
  padding: .9rem 1.968rem;
  border-radius: 7px;
  span{
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }
  i{
    display: inline-block;
    vertical-align: middle;
    font-size: 1.313rem;
    margin-right: 1rem;
    line-height: 1;
  }
}

.btn-nav {
  margin-left: 1rem;
  padding: .5rem;

  &__wrap{
    position: relative;
    width: 2rem;
    height: 1.2rem;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }


  span{
    display: block;
    position: absolute;
    height: .2rem;
    width: 100%;
    background: #bababa;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  &:hover{
    span{
      background: #f00;
    }
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active{
    span{
      background: #f00;
    }
  }
  &:focus,
  &.focus {
    span{
      background: #f00;
    }
  }

  span:nth-child(1) {
    top: 0;
  }

  span:nth-child(2), span:nth-child(3) {
    top: .5rem;
  }

  span:nth-child(4) {
    top: 1rem;
  }

  &.open span:nth-child(1) {
    top: .5rem;
    width: 0;
    left: 50%;
  }

  &.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  &.open span:nth-child(4) {
    top: .5rem;
    width: 0;
    left: 50%;
  }
}
//***BUTTONS***//

//****LINKS***//
.link-left-arrow{
  a{
    text-decoration: none;
  }
  i{
    margin-right: 1.75rem;
  }
}
.link-right-arrow{
  a{
    text-decoration: none;
  }
  i{
    margin-left: 1.75rem;
  }
}
//****LINKS***//


//***RADIO and CHECKBOX***//
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 2.1875rem;
  cursor: pointer;
  display: inline-block;

  color: #464568;
  font-size: 0.875rem;

}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25rem;
  height: 1.25rem;
  border: 0.063rem solid #ec534d;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 0.625rem;
  height: 0.625rem;
  background-color: #ec534d;
  position: absolute;
  top: 0.3125rem;
  left: 0.3125rem;
  border-radius: 100%;
  transition: $transition-base;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

//--------------------//

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
  position: relative;
  padding-left: 2.1875rem;
  cursor: pointer;
  display: inline-block;

  color: #464568;
  font-size: 0.875rem;

}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25rem;
  height: 1.25rem;
  border: 0.063rem solid #ec534d;
  background: #fff;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
  content: '\2714';
  width: 1.25rem;
  color: #ec534d;
  position: absolute;
  left: 0;
  line-height: 1.25rem;
  text-align: center;
  transition: $transition-base;
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}


//***RADIO and CHECKBOX***//

//***TABS***//
.nav-tabs {
  border-bottom: 0.188rem solid #e5e5f3;

  .nav-item {
    margin-bottom: -.188rem;

    a {
      border: none;
      text-decoration: none;
      color: #a1a0c3;
      font-size: 1.125rem;
      &:hover {
        color: #ec534d;
      }
      &.active {
        color: #ec534d;
        border-bottom: 0.313rem solid #ec534d;
      }
    }
    //background-color: #ec534d;
  }
}
.nav-pills{
  .nav-item{
    margin-right: 1rem;
    margin-bottom: 1rem;

    &:last-child{
      margin-right: 0;
    }
  }
  .nav-link{
    padding: 1.3125rem 1.4075rem;
    border: 0.125rem solid #e5e5f3;
    color: $link-color;
    font-size: 0.875rem;
    line-height: 1;
    text-decoration: none;
  }
  .nav-link.active, .show>.nav-link{
    border: 0.125rem solid #ec534d;
  }
}
.tab-content{
  padding-top: 2.5rem;
}
//***TABS***//

.select-language {
  .filter-option {
  }
  .dropdown-item {
    padding: .375rem .75rem;
    span {
      vertical-align: middle;
    }
  }
  .icon {
    display: inline-block;
    line-height: 32px;
  }

}

.dropdown-toggle:after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .13em;
  font-size: .5rem;

  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  content: "\e90e";

}

.content-wrap {
  margin: 3.75rem 0;
}

.navbar-top {
  height: 80px;
  flex-direction: row;

  &.sticky-top {
    background-color: #fff;
    box-shadow: 4.1px 2.9px 46px rgba(70, 69, 104, 0.14);
  }

  .navbar-brand {
    //padding: 0;
  }

  .btn-outline-secondary {
    border: 1px solid #bababa;
    border-radius: 7px;

    &:hover {
      background: none;
      border-color: #fb7443;
      color: #fb7443;
      box-shadow: none;
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      background: none;
      border-color: #f00;
      color: #f00;
      box-shadow: none;

      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(251, 76, 67, 0.67);
      }
    }
    &:focus,
    &.focus {
      border-color: #f00;
      box-shadow: none;
    }

    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active{
      color: #fb7443;
    }

    &.dropdown-toggle {
      background: none;
      &:focus,
      &.focus {
        color: #fb7443;
        border-color: #fb7443;
        box-shadow: none;
        outline: none;
      }
    }
  }
  .show>.btn-outline-secondary.dropdown-toggle{
    color: #fb7443;
  }

  .select-language {
    margin-left: 1rem;
    .btn-outline-secondary {
      line-height: 1.2rem;
    }
  }
  .dropdown{
    .btn-outline-secondary{
      &:after{}
    }
  }

  .navbar-nav {
    margin-right: 30px;
    .nav-item {
      margin: 0 .5rem;
    }
    .nav-link {
      color: #464568;
      font-size: 14px;
      text-decoration: none;
    }

    .dropdown-menu {
      background-color: #464568;

      &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: -10px;
        left: 16px;
        border-top: 0;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #464568;
        border-left: 10px solid transparent;
      }

      .dropdown-item {
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;

        &:focus, &:hover {
          background: none;
          color: #fb4c43;
          outline: none;
        }
      }
    }
  }
}

.user-nav{
  .btn{
    text-transform: none;
  }

  .dropdown-toggle{
    &:after{
      margin-left: .875rem;
    }
  }
  i{
    margin-right: .875rem;
  }
  .dropdown-menu{
    width: 100%;

    .dropdown-item{
      text-decoration: none;

      font-size: 0.875rem;
    }
  }
}

.user-box {
  padding: 2.25rem 0;
  background-color: #464568;
  .user {
    &__icon {
      margin-right: 1.25rem;
      border-radius: 50%;
      img {
        border: .375rem solid #8584aa;
        border-radius: 50%;
      }
    }
    &__info {
      &__name {
        margin-bottom: 1rem;
        color: #fff;
        font-weight: 700;
        line-height: 1;
      }
      &__role {
        color: #fb5143;
        font-size: 0.75rem;
        line-height: 1;
      }
    }
    &__data {
      &__label {
        margin-bottom: .5rem;
        color: #fff;
        font-size: 0.75rem;
        line-height: 1;
      }
      &__value {
        color: #fff;
        font-size: 1.875rem;
        font-weight: 700;
        line-height: 1;
      }
    }
  }
}

.left-menu {
  margin-bottom: 3.75rem;
  ul {
    li {
      margin-bottom: 1.875rem;
      color: #464568;
      font-size: 0.875rem;

      &:last-child {
        margin-bottom: 0;
      }
      a {
        display: flex;
        align-items: center;
        text-decoration: none;

        &:hover, &:active, &.active {
          color: $link-hover-color;
        }
      }
      i {
        margin-right: 1.25rem;
        font-size: 1.25rem;
      }
    }
  }
}

.ref-link {
  padding: 1.25rem;
  background-color: #eeedf9;
  .label {
    color: #464568;
    font-size: 0.875rem;
    line-height: 1.875rem;
  }
  .link {
    color: $link-color;
  }
}

.video {
  $parent: &;

  margin-bottom: 3.75rem;

  &__wrap {
    position: relative;
    margin-bottom: 1.75rem;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      opacity: 0;
      visibility: hidden;
      transition: opacity .1s, visibility .1s;
    }

    .play-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 4.125rem;
      text-decoration: none;
    }

    &.active {
      .video__preview {
        opacity: 0;
        visibility: hidden;
      }
      iframe {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__title {
    color: #464568;
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
}

.news {
  &__item {
    margin-bottom: 3.75rem;
  }
  &__img {
    margin-bottom: 1.75rem;
  }
  &__date {
    margin-bottom: 1.375rem;
    color: #fb5843;
    line-height: 1.5rem;
  }
  &__title {
    color: #464568;
    font-size: 1.25rem;
    line-height: 1.875rem;
    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.sector {
  display: block;
  white-space: nowrap;
  font-size: 0;
  &__item {
    display: inline-block;
    width: 6.5625rem;
    height: 8.75rem;
    margin-right: 10px;
    padding: 3rem 0 0 20px;
    position: relative;
    background-color: #464568;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid white;
      border-top: calc(8.75rem/2) solid transparent;
      border-bottom: calc(8.75rem/2) solid transparent;
      z-index: 1;
    }
    &:before {
      content: "";
      position: absolute;
      right: -20px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #464568;
      border-top: calc(8.75rem/2) solid transparent;
      border-bottom: calc(8.75rem/2) solid transparent;
      z-index: 2;
    }

    &:first-child {
      padding: 3rem 0 0 20px;
      width: 8.4375rem;
      background-color: #ec534d;
      &:after{
        display: none;
      }
      &:before{
        border-left-color: #ec534d;
      }
    }
    &:last-child {
      padding: 3rem 0 0 20px;
      margin-right: 0;
      &:before{
        display: none;
      }
    }

    &.disabled{
      background-color: #e5e5f3;

      &:before{
        border-left-color: #e5e5f3;
      }
    }
  }

  &__value{
    color: #fff;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.875rem;
    text-align: center;
  }

  &__label{
    color: #fff;
    font-size: 0.75rem;
    line-height: 1.875rem;
    text-align: center;
  }
}
.sector-progress{
  margin-top: 1.5625rem;
  display: block;
  font-size: 0;
  white-space: nowrap;
  &__item{
    display: inline-block;
    width: 6.5625rem;
    margin-right: 10px;
    color: #464568;
    font-size: 1rem;

    span{
      display: block;
      margin-left: -30px;
    }

    &:before{

    }

    &:first-child {
      margin-left: 0;
      width: 8.4375rem;
    }

    &:last-child{
      margin-right: 0;
    }

  }
}
.total-turnover{
  margin-bottom: 1.75rem;
  font-size: 1.125rem;
  color: #464568;

  span{
    color: #ec534d;
  }
}

.accept{
  &__item{
    margin-bottom: 1.75rem;
  }
}

.products{
  &__item{
    margin-bottom: 3.75rem;
    &__img{
      margin-bottom: 1.5rem;
      img{
        box-shadow: 0 0.625rem 2.375rem rgba(0, 0, 0, 0.15);
      }
    }
    &__info{
      margin-bottom: 1.5rem;
      .title{
        color: #464568;
        font-size: 1.5rem;
      }
      .author{
        color: #88889b;
        font-size: 0.938rem;
      }
    }
    &__btn{}
  }
}

.product{
  &__info{
    color: #88889b;

    .row{
      margin-bottom: .5rem;
    }
    .value{
      color: #464568;
      font-size: 1.125rem;
    }

    &__btn{
      margin-top: 1.75rem;
    }
  }
}

.cart{
  margin-bottom: 1.875rem;
  td{
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    border-top: none;
    border-bottom: 1px solid #e5e5f3;
    vertical-align: middle;
  }
  &__item{

    &:last-child{
      td{
        border-bottom-width: 3px;
      }
    }
    &.out-of-stock{
      td{
        opacity: .2;
        &.cart__item__remove{
          opacity: 1;
        }
      }
    }
    &__img{
      a{
        text-decoration: none;
      }
    }
    &__info{
      .title{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        color: #464568;
        font-size: 1.25rem;
        white-space: nowrap;
        a{
          text-decoration: none;
        }
      }
      .stock{
        margin-left: .875rem;
        padding: .3125rem;
        border-radius: 4px;
        color: #fff;
        font-size: 0.75rem;
        white-space: nowrap;
        &.in-stock{
          background-color: #65b237;
        }
        &.out-of-stock{
          background-color: #000;
        }
      }
      .info{
        font-size: 0.75rem;
        color: #464568;
        .label{
          color: #a1a0c3;
        }
      }
    }
    &__price{
      color: #ec534d;
      font-size: 1.875rem;
      line-height: 1;
      white-space: nowrap;
    }
    &__remove{
      line-height: 1;
      a{
        font-size: 1.25rem;
        color: #a1a0c3;
        text-decoration: none;
        &:hover{
          color: $link-hover-color;
        }
      }
    }
  }
  &__total{
    align-items: center;
    color: #ec534d;
    font-size: 1.125rem;
    .label{
      color: #464568;
    }
  }
}


//***FOOTER***//
.footer{
  padding: 2rem 0;
  background-color: #2f2f42;


  .navbar-bottom{
    .navbar-nav{
      flex-direction: row;
    }
    .btn-outline-secondary{
      border: 1px solid #bababa;
      color: #fff;
      &:hover{
        background: none;
        border-color: #f00;
        color: #f00;
        box-shadow: none;
      }
      &:not(:disabled):not(.disabled):active,
      &:not(:disabled):not(.disabled).active{
        background: none;
        border-color: #f00;
        color: #f00;
        box-shadow: none;

        &:focus {
          box-shadow: 0 0 0 0.2rem rgba(251, 76, 67, 0.67);
        }
      }
      &:focus,
      &.focus {
        border-color: #f00;
        box-shadow: none;
      }
      &.dropdown-toggle{
        background: none;
        &:focus,
        &.focus {
          color: #f00;
          border-color: #f00;
          box-shadow: none;
          outline: none;
        }
      }
    }
    .select-language{
      margin-left: 1rem;
      .btn-outline-secondary{

      }
    }
  }
  .navbar-nav{
    //margin-right: 30px;
    .nav-item{
      margin-left: 2rem;
    }
    .nav-link{
      color: #fff;
      font-size: 14px;
    }

  }

  &__content{
    padding: 2.5rem 0;
    &__links{
      display: flex;
      justify-content: space-between;
    }
    &__link{
      a{
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 0.875rem;
        text-decoration: none;
      }
      .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.125rem;
        height: 2.125rem;
        margin-right: 1rem;
        border: 1px solid rgba(#fff, .2);
        border-radius: 50%;
        color: #fff;
        font-size: 1.125rem;
        text-align: center;
        line-height: 2.125rem;
        transition: $transition-base;
        i{

        }
      }

      .text{
        text-decoration: underline;
        transition: $transition-base;
      }
      &:hover{
        .icon{
          border-color: rgba(#fff, 1);
        }
        span{
          text-decoration: none;
        }
      }
    }
  }


  &__social{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    &__item{
      width: 2.125rem;
      height: 2.125rem;
      margin-left: 1rem;
      &:first-child{
        margin-left: 0;
      }

      a{
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid rgba(#fff, .2);
        border-radius: 50%;
        color: #fff;
        font-size: 1.125rem;
        text-align: center;
        line-height: 2.125rem;
        text-decoration: none;
        transition: $transition-base;

        &:hover{
          border-color: rgba(#fff, 1);
        }
      }
    }
  }
  &__copyright{
    color: #fff;
    font-size: 0.75rem;
  }
  &__bottom{

    &__link{
      margin-left: 1rem;
      a{
        color: #fff;
        font-size: 0.75rem;
      }
    }
  }
}

.subscription__form {
  label {
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
  .form-group {
    margin-bottom: 0;
  }
  .form-control {
    background: none;
    border-color: #fff;
    color: #fff;

    &::-webkit-input-placeholder {
      color: #fff;
      opacity: .6
    }
    /* WebKit, Blink, Edge */
    &:-moz-placeholder {
      color: #fff;
      opacity: .6
    }
    /* Mozilla Firefox 4 to 18 */
    &::-moz-placeholder {
      color: #fff;
      opacity: .6
    }
    /* Mozilla Firefox 19+ */
    &:-ms-input-placeholder {
      color: #fff;
      opacity: .6
    }
    /* Internet Explorer 10-11 */
    &::-ms-input-placeholder {
      color: #fff;
      opacity: .6
    }
    /* Microsoft Edge */
  }
}

//***FOOTER***//


//***SIDEBAR***//

.sidebar {
  width: 300px;
  position: fixed;
  top: 0;
  left: -300px;
  height: 100vh;
  padding: 30px 0;
  z-index: 1030;
  background: #fff;
  transition: all 0.3s;
  overflow-y: scroll;
  //box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  //box-shadow: 0 0 50px rgba(153, 153, 153, 0.25);

  .logo{
    margin-bottom: 30px;
  }


  .user{
    padding: 1rem;
    background-color: #464568;
    color: #fff;
    &__data{
      display: flex;
      align-items: center;
      text-decoration: none;
    }
    &__icon{
      margin-right: 1rem;
      text-align: center;
      width: 3.125rem;
      height: 3.125rem;
      padding: 0.375rem;
      background-color: #8584aa;
      border-radius: 50%;
    }
    &__name{
      margin-bottom: .25rem;
      font-size: 1rem;
      font-weight: 700;

      a{
        color: #fff;
      }
    }
    &__role{
      color: #fb5143;
      font-size: 0.75rem;
    }
    &__btns{

      a{
        display: block;
        margin: 1rem;
        color: #fff;
        &:hover, &:focus, &:active{
          color: #fb5143;
        }
      }
    }
  }


  .navbar-nav{
    margin: 2rem 0;
    .nav-item{
      padding: 0.5rem 0;
      border-top: 1px solid #464568;
      &:last-child{
        border-bottom: 1px solid #464568;
      }
      &:first-child{
        border-top: none;
      }


    }
    .nav-link{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem;
      font-family: $headings-font-family;
      color: #464568;
      font-weight: 500;
      text-decoration: none;

      span{

      }
      .icon{
        font-size: 10px;
        transition: $transition-base;
      }

      &[aria-expanded=true]{
        .icon{
          transform: rotate(90deg);
        }
      }
    }

    .dropdown-item{
      text-decoration: none;
    }
  }
  .form-search{
    margin-bottom: 30px;
  }
}

.sidebar.active {
  left: 0;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1029;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.overlay.active {
  display: block;
  opacity: 1;
}


//***SIDEBAR***//



//***MODAL***//
.close-btn{
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.25rem;
}
.modal-header{
  display: block;
  padding: 3.625rem 60px 2.375rem;
}
.modal-body{
  padding: 0 60px;

  .tab-content{
    padding-top: 1.75rem;
  }
  .total-price{
    margin: 1.75rem 0;
    color: #464568;
    font-size: 1.125rem;
    font-weight: 400;

    span{
      color: #ec534d;
    }

  }
}
.modal-footer{
  display: block;
  padding: 1.75rem 60px 2.75rem;
}

//***MODAL***//



//*** LP ***//
.sct{
  padding: 6.25rem 0;

  &__header{
    margin-bottom: 6.25rem;
    h2{
      font-size: 3rem;
    }
    p{
      margin-top: 2.375rem;
      font-size: 1.25rem;
      color: #88889b;
    }
  }

  &__content{
    margin-bottom: 5rem;
    &:last-child{
      margin-bottom: 0;
    }
    h3{
      margin-top: 3.125rem;
      margin-bottom: 3.75rem;
      font-size: 2.5rem;
    }
    p{
      margin-bottom: 3.75rem;
      color: #464568;
      font-size: 1.125rem;
      line-height: 1.875rem;
    }

    ul{
      margin-bottom: 3.75rem;
      li{
        margin-bottom: .5rem;
        &::before {
          font-family: 'icomoon' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;

          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;

          content: "\e922";
          position: absolute;
          left: 0;
          top: .2rem;
          font-size: 1.25rem;
          background: none;
          color: #fb4c43;
        }
      }
    }
  }

  &__all, &__more{
    text-align: center;
    a{
      color: #464568;
      text-decoration: none;
      text-transform: uppercase;

      &:hover{
        color: #ef5b3f;
      }
    }
    i{
      margin-left: 1.75rem;
    }
  }
}

.sct-header{
  height: 60rem;
  margin-top: -85px;
  padding-top: 85px;
  background: url("../img/bg-1.jpg") no-repeat top center;

  h1{
    margin-top: 14.625rem;
    margin-bottom: 2.375rem;
    color: #464568;
    font-size: 5rem;
  }
  p{
    margin-bottom: 5rem;
    font-size: 1.25rem;
    line-height: 1.6;
  }

  .btn{
    margin-right: 1.875rem;
    padding-left: 4.429rem;
    padding-right: 4.429rem;

    text-transform: uppercase;

    &:last-child{
      margin-right: 0;
    }
  }
}
.sct-statistics{}
.statistics{
  margin-top: 4.75rem;
  &__item{
    &__value{
      position: relative;
      margin-bottom: 2.125rem;
      padding-left: 3.1875rem;
      color: #fb4c43;
      font-size: 2.25rem;
      line-height: 1;

      &:before{
        content: '';
        position: absolute;
        top:3px;
        left: 0;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        opacity: 0.2;
        background-color: #fb6043;
      }
      &:after{
        content: '';
        position: absolute;
        top:11px;
        left: 8px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fb6043;
      }
    }
    &__description{
      padding-left: 3.1875rem;
      color: #88889b;
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}

.sct-work{
  background-color: #f8f8f9;


  .sct__content{
    margin-bottom: 6.25rem;
  }

}
.steps{
  margin: 6.25rem 0;
  &__item{
    &__img{
      width: 160px;
      height: 160px;
      margin-bottom: 3.125rem;
    }
    &__number{
      margin-bottom: 2.375rem;
      color: #fb6043;
      font-size: 3rem;
      line-height: 2.313rem;
    }
    &__title{
      margin-bottom: 1.875rem;
      color: #464568;
      font-size: 1.5rem;
      line-height: 2rem;
    }
    &__description{
      color: #88889b;
      line-height: 1.5rem;
    }
  }

}
.ratio{
  &__item{
    display: flex;
    flex-direction: row;

    &__percent{
      position: relative;
      width:  100px;
      height: 100px;
      margin-right: 1.875rem;

      .value{
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        text-align: center;
        line-height: 100px;
        font-size: 1.5rem;
        color: #fb6043;
      }
    }
    &__description{
      color: #88889b;
      line-height: 1.5rem;
    }
  }
}

.sct-roadmap{
  h2{
    margin-bottom: 6.25rem;
  }
}

.roadmap{
  position: relative;
  &__nav{
    position: absolute;
    top: 2.5625rem;
    width: 100%;
    z-index: 10;
    &:after{
      content: '';
      position: absolute;
      top: calc(2.5rem/2);
      left:2.5rem;
      width: calc(100%- (2.5rem*2));
      height: 1px;
      background:  #d1d1d1;
    }
    a{
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      background-color: #fff;
      border: 1px solid #d1d1d1;
      text-decoration: none;
      color: #999;


      &:hover{
        border-color: #464568;
        color: #464568;

      }

    }
  }
  &__prev{
    left:0;
  }
  &__next{
    right: 0;
  }
  &__carousel{
    &__item{
      padding: 0 2.5rem;

      &__date{
        position: relative;
        margin-bottom: 1.5625rem;
        color: #fb6e54;


      }
      &__separator{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.563rem;
        height: 1.563rem;
        margin-bottom: 2.25rem;
        background: rgba(#fb6043,0.2);
        border-radius: 50%;
        z-index: 10;
        &:before{
          content: '';
          display: block;
          width: 0.563rem;
          height: 0.563rem;
          background-color: #fb6043;
          border-radius: 50%;
        }
      }
      &__title{
        color: #464568;
        font-size: 1.25rem;
      }
      &__description{
        color: #88889b;
        font-size: 0.875rem;
        line-height: 1.25rem;
      }
    }
  }
}

.sct-subscription{
  background-color: #fb4c43;
  background-image: linear-gradient(26deg, #fb8043 0%, #fb4c43 100%);

  h2{
    color: #fff;
  }
}
.subscription__social{
  display: flex;
  flex-wrap: wrap;

  margin: 3.75rem 0;


  &__item{
    width: 6.25rem;
    height: 6.25rem;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, .34);
    border-radius: 50%;

    transition: $transition-base;


    a{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5.5rem;
      height: 5.5rem;


      border: 2px solid rgba(255, 255, 255, 1);
      border-radius: 50%;


      line-height: 5.5rem;
      text-decoration: none;
      color: #fff;
      text-align: center;

      transition: $transition-base;
    }

    &:hover{
      border: 2px solid rgba(255, 255, 255, 1);

      a{
        border: 1px solid rgba(255, 255, 255, .34);
      }
    }
  }
}
.subscription__form{
  label{
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
  .form-group{
    margin-bottom: 0;
  }
  .form-control{
    background: none;
    border-color: #fff;
    color: #fff;

    &::-webkit-input-placeholder { color: #fff; opacity: .6 }  /* WebKit, Blink, Edge */
    &:-moz-placeholder { color: #fff; opacity: .6  }  /* Mozilla Firefox 4 to 18 */
    &::-moz-placeholder { color: #fff; opacity: .6  }  /* Mozilla Firefox 19+ */
    &:-ms-input-placeholder { color: #fff; opacity: .6  }  /* Internet Explorer 10-11 */
    &::-ms-input-placeholder { color: #fff; opacity: .6  }  /* Microsoft Edge */
  }
}

.sct-about{
  .sct__content{
    margin-bottom: 6.25rem;

    &:last-child{
      margin-bottom: 0;
    }
  }
}

.sct-collection{}
.collection{
  margin: 6.25rem 0;
  &__item{
    &__wrapper{
      padding: 0 1.5rem;
    }
    &__img{
      margin-bottom: 2.375rem;
      img{
        box-shadow: 0 0.625rem 2.375rem rgba(0, 0, 0, 0.15);
      }
    }
    &__info{
      display: flex;
      flex-direction: row;

      &__text{
        width: 65%;
      }
      &__title{
        font-size: 1.5rem;
        line-height: 1.875rem;
      }
      &__author{
        color: #88889b;
        line-height: 1.875rem;
      }
      &__btn{
        width: 30%;
        min-width: 10.313rem;

        i{
          margin-right: 1rem  ;
        }
      }
    }
  }

}

.sct-team{
  background-color: #f8f8f9;
}
.team{
  margin: 6.25rem 0;
  &__item{
    $parent : &;
    &__img{
      margin-bottom: 2.5rem;
      a{
        position: relative;
        display: block;
        &:before{
          opacity: 0;
          content: attr(data-mask);
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          top:0;
          left:0;
          width: 100%;
          height: 100%;
          background-color: rgba(#fb5b43, .7);
          color: #fff;
          line-height: 1.875rem;
          transition: $transition-base;
        }
      }
      @at-root #{$parent} {
        &:hover{
          a{
            &:before{
              opacity: 1;
            }
          }
        }
      }
    }
    &__name{
      font-size: 1.25rem;
      line-height: 1.875rem;

      a{
        color: inherit;
        text-decoration: none;
        transition: $transition-base;
      }
      @at-root #{$parent} {
        &:hover{
          a{
            color: #f55d41;
          }
        }
      }
    }

    &__position{
      color: #88889b;
      line-height: 1.875rem;
    }




  }
}

.sct-news{}
.news{
  margin: 6.25rem 0;

  &__item{
    $parent : &;
    &__img{
      margin-bottom: 1.5625rem;

      a{
        position: relative;
        display: block;
        &:before{
          opacity: 0;
          content: "\e90f";

          /* use !important to prevent issues with browser extensions that change fonts */
          font-family: 'icomoon' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;

          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;

          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          top:0;
          left:0;
          width: 100%;
          height: 100%;
          background-color: rgba(#fb5b43, .7);
          color: #fff;
          font-size: 3.75rem;
          transition: $transition-base;
        }
      }
      @at-root #{$parent} {
        &:hover{
          a{
            &:before{
              opacity: 1;
            }
          }
        }
      }
    }
    &__date{
      margin-bottom: 1rem;
      color: #fb5843;
    }
    &__title{
      font-size: 1.25rem;

      a{
        color: inherit;
        text-decoration: none;
        transition: $transition-base;
      }

      @at-root #{$parent} {
        &:hover{
          a{
            color: #f55d41;
          }
        }
      }
    }
  }
}

.sct-partners{
  background-color: #f8f8f9;
  position: relative;
}

.partners{

  &__item{
    padding: 0 40px;
  }


  //
  //.slick-list{
  //  //overflow: visible;
  //
  //  .slick-slide{
  //    opacity: 0.1;
  //
  //    &.slick-active{
  //      opacity: 1;
  //    }
  //  }
  //}

}
.partners__nav{
  a{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    height: 100%;
    width: calc((100% - 1200px)/2);
    font-size: 10rem;
    color: rgba(#2f2f42, 0.2);
    text-decoration: none;
    z-index: 10;
  }
  .partners__prev{
    left:0;
    background-image: linear-gradient(to left, transparent, #f8f8f9);
  }
  .partners__next{
    right:0;
    background-image: linear-gradient(to right, transparent, #f8f8f9);
  }
}


.sct-faq{
  background-color: #2f2f42;

  .sct__header{
    h2{
      color: #fff;
    }
  }
}
.faq{
  margin: 6.25rem 0 0;
  &__item{
    position: relative;
    margin-bottom: 2.5rem;

    &:last-child{
      margin-bottom: 0;
    }
    &__reference{
      margin-right: 1.5rem;
      a{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 3.125rem;
        height: 3.125rem;
        padding: 0;

        border-radius: 50%;

        color: #fff;
      }
    }
    &__question{
      color: #fff;
      font-size: 1.125rem;
      line-height: 1.875rem;
    }
    &__answer{
      //display: none;
      //transform: none !important;
      top: 20px;
      padding: 1rem 1.25rem;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0.625rem 2.375rem rgba(0, 0, 0, 0.56);

      color: #333;
      font-size: 0.875rem;
      line-height: 1.25rem;

      z-index: 1060;

      &[x-placement='bottom-start']:before{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        left: 16px;
        top: -8px;
        border-top: 0;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #fff;
        border-left: 8px solid transparent;
      }
      &[x-placement='top-start']:before{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        left: 16px;
        bottom: -8px;
        border-top: 8px solid #fff;
        border-right: 8px solid transparent;
        border-bottom: 0;
        border-left: 8px solid transparent;
      }

    }
  }
}

//*** LP ***//

//*** LP-REF ***//
.sct-ref-1{
  height: 35.625rem;
  background: url("../img/bg-ref-1.jpg") no-repeat top center;
}

.sct-ref-3, .sct-ref-5{
  background-color: #f8f8f9;
}

.steps{
  &__item{
    &__img{
      width: 160px;
      height: 160px;
      margin-bottom: 3.125rem;
    }
    &__number{
      margin-bottom: 2.375rem;
      color: #fb6043;
      font-size: 3rem;
      line-height: 2.313rem;
    }
    &__title{
      margin-bottom: 1.875rem;
      color: #464568;
      font-size: 1.5rem;
      line-height: 2rem;
    }
    &__description{
      color: #88889b;
      line-height: 1.5rem;
    }
  }
}

.advantage{
  &__item{
    &__img{
      width: 160px;
      height: 160px;
      margin: 0 auto 3.125rem;
    }
    &__title{
      margin-bottom: 1.875rem;
      color: #464568;
      font-size: 1.5rem;
      line-height: 2rem;
      text-align: center;
    }
    &__description{
      color: #88889b;
      line-height: 1.5rem;
      text-align: center;
    }
  }
}

//*** LP ***//


@import "responsive";